<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Workspace Management - Search Workflow Role</title>
  <link type="text/css" rel="stylesheet" href="../../style.css">
</head>
<body>
<form method="post" action="search.action">
<table bgcolor="gray" border="0" cellspacing="1" cellpadding="5" width="98%">
<tbody>
 <tr bgcolor="#d0dcff">
      <td colspan=3><strong>Search Category</strong></td>
 </tr>

 <tr bgcolor="#ffffff">
        <td style="font-weight: bold;" align="right" valign="top" width=25%>Code:</td>
        <td width="75%"><input maxlength="3" name="code" size="35%" value="$!code"></td>
 		<td align="right" valign="top"><img alt="Code of The Category" src="../../images/help.gif" style="border: 0px solid ; width: 16px; height: 16px;"></td>
 </tr>
 <tr bgcolor="#ffffff">
        <td style="font-weight: bold;" align="right" valign="top" width=25%>URL Category Image:</td>
        <td> <input name="url_category_image" value="" size="35%" type="text"> </td>
 		<td align="right" valign="top"><img alt="URL _Image of The Category " src="../../images/help.gif" style="border: 0px solid ; width: 16px; height: 16px;"></td>
 </tr>

 <tr bgcolor="#ffffff">
        <td style="font-weight: bold;" align="right" valign="top" width=25%>Description:</td>
        <td>
        	<input maxlength="128" name="description" size="35%" >
        </td>
 		<td align="right" valign="top"><img alt="Description of The Category" src="../../images/help.gif" style="border: 0px solid ; width: 16px; height: 16px;"></td>
  </tr>
  <tr bgcolor="#ffffff">
        <td style="font-weight: bold;" align="right" valign="top">Active:</td>
        <td><input name="activeFlag" value="1" type="radio">Yes<br><input name="activeFlag" value="0" type="radio">No
        </td>
        <td align="right" valign="top"><img alt="Status of Descriptor" src="../../images/help.gif"  style="border: 0px solid ; width: 16px; height: 16px;"></td>
      </tr>
      <tr bgcolor="#d0dcff">
         <td colspan=3><input name="Submit" value="Search" type="submit">&nbsp;&nbsp;
        <input name="Clear" value="Reset" type="reset"> </td>
      </tr>
     </tbody>
  </table>
</form>
</center>
</body>
</html>
