<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!--<%@ taglib uri = "webwork" prefix = "ww" %>-->
<html>
	<head>
		<title>Form - Tab</title>
		<link rel="stylesheet" type="text/css" href="../../style.css">
	</head>
	<body>
		#if (!$actionErrors.isEmpty())
			<div class="errorMessage">Errors</div>
			<ul class="errorMessage">
			#foreach( $error in $actionErrors )
				<li>$error</li>
			#end
			</ul>
		#end
		
		<form method="get" action="add.action">
			<table border="0" cellpadding="5" cellspacing="1" width="98%" bgcolor="#000000">
				<tr bgcolor="#d0dcff">
					<td colspan="2"><b>Tab</b></td>
				</tr>
				<!--tr bgcolor="#ffff00">
					<td colspan="2">&nbsp;</td>
				</tr-->

				<tr bgcolor="#ffffff">
					<td>Name : <font color="red">*</font></td>
					<td>
						<input name="tab.name" value="$!tab.name"/>
					</td>
				</tr>
				<tr bgcolor="#ffffff">
					<td>Description :</td>
					<td>
						<input name="tab.description" value="$!tab.description"/>
					</td>
				</tr>
				</tr>
				<tr bgcolor="#ffffff">
  					<td>Window Name</td>
  					<td><input type="textfield" id="windowDescription" value="$!window.description" size="35" disabled="true" onfocus="this.blur()"/>
    					<input type="hidden" id="windowId" name="windowId" value="$!window.id"/>
    					&nbsp;&nbsp;<input type="button" value="Change" onclick="javascript:window.open('../window/list.action','cats','scrollbars=yes,status=no,width=300,height=300')"/>
    					&nbsp;&nbsp;&nbsp;<a href="../window/edit.action?id=$window.Id">edit</a>
  					</td>
				</tr>
				<tr bgcolor="#ffffff">
  					<td>Table Name</td>
  					<td><input type="textfield" id="tableDescription" value="$!table.description" size="35" disabled="true" onfocus="this.blur()"/>
    					<input type="hidden" id="tableId" name="tableId" value="$!table.id"/>
    					&nbsp;&nbsp;<input type="button" value="Change" onclick="javascript:window.open('../table/list.action','cats','scrollbars=yes,status=no,width=300,height=300')"/>
    					&nbsp;&nbsp;&nbsp;<a href="../table/edit.action?id=$table.Id">edit</a>
  					</td>
				</tr>
				<tr bgcolor="#e4e4e4">
					<td colspan="2">
						<input type="submit" value="Submit"/>
						<input name="id" type="hidden" value="$!tab.id"/>
					</td>
				</tr>
			</table>
		</form>
		  <br>
			<table bgcolor="gray" border="0" cellpadding="5" cellspacing="1" width="98%">
				<tr bgcolor="#d0dcff">
  					<td><b>Field</b>&nbsp;&nbsp;&nbsp;<a href="../field/edit.action">Add</a></td>
  				</tr>
			</table>
		  $!report
  			#if(!$fields.isEmpty())
		<table bgcolor="gray" border="0" cellpadding="5" cellspacing="1" width="98%">
  			<tr id="tableHeader1" bgcolor="#e4e4e4"> 
    			<td>Name</td>
    			<td>Description</td>
				<td>Action</td>
  			</tr>
  		#foreach ($de in $fields) 
  			<tr valign="top" bgcolor="#ffffff"> 
    			<td>$!de.name</td>
    			<td>$!de.description</td>
    			<td><a href="../field/edit.action?id=$de.Id">Edit</a> <a href="../field/delete.action?id=$de.id&tabId=$!tab.id">Delete</a></td>
  			</tr>
  		#end 
		</table>
		#end
		<!--table bgcolor="gray" border="0" cellpadding="5" cellspacing="1" width="98%">
			<tr bgcolor="#ffffff">
				<td align="center"><a href="../../thin/form.action">Home</a></td>
			</tr>
		</table-->
	</body>
</html>