<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Workspace Management - Edit Site</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body>
#if (!$actionErrors.isEmpty())
<div class="errorMessage">Errors</div>
<ul class="errorMessage">
#foreach( $error in $actionErrors )
<li>$error</li>
 #end
</ul>
#end

<form method="post" action="update.action">
<table border="0" cellspacing="0" cellpadding="3">
  <tr>
    <td>Name</td>
    <td><input type="text" name="name" value="$!name">
    </td>
  </tr>
  <tr>
  	<td>Description</td>
  	<td><input type="text" name="description" value="$!description">
  	</td>
  </tr>
  <tr>
  	<td>Theme Id</td>
  	<td><input type="text" name="theme_id" value="$!theme_id">
  	</td>
  </tr>
  <tr>
  	<td>Title</td>
  	<td><input type="text" name="title" value="$!title">
  	</td>
  </tr>
  <tr>
  	<td>URL Branding</td>
  	<td><input type="text" name="url_branding" value="$!url_branding">
  	</td>
  </tr>
  <tr>
  	<td>Admin Email</td>
  	<td><input type="text" name="admin_email" value="$!admin_email">
  	</td>
  </tr>
  <tr>
  	<td>Notify</td>
  	<td><input type="radio" name="notify_flag" value=1 #if ($notify_flag == 1) checked #end>yes<br><input type="radio" name="notify_flag" value=0 #if ($notify_flag == 0) checked #end>no
  	</td>
  </tr>
  <tr>
  	<td>Notify Email</td>
  	<td><input type="text" name="notify_email" value="$!notify_email">
  	</td>
  </tr>
  <tr>
  	<td>Notify From</td>
  	<td><input type="text" name="notify_from" value="$!notify_from">
  	</td>
  </tr>
  <tr>
  	<td>Notify Message</td>
  	<td><input type="text" name="notify_message" value="$!notify_message">
  	</td>
  </tr>
  <tr>
  	<td>Site Headline</td>
  	<td><input type="text" name="site_headline" value="$!site_headline">
  	</td>
  </tr>
  <tr>
  	<td>Active</td>
  	<td><input type="hidden" name="id" value="$!id"><input type="radio" name="activeFlag" value=1 #if ($activeFlag == 1) checked #end>active<br><input type="radio" name="activeFlag" value=0 #if ($activeFlag == 0) checked #end>inactive
  	</td>
  </tr>
  <tr>
  	<td colspan="2"><input type="submit" value="Update"><input type="reset" value="Clear"></td>
  </tr>
 </table>
</form>
</body>
</html>
