<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>BlueOxygen Cimande Workspace Project</title>
<link rel="stylesheet" type="text/css" href="#surl("value=/backend/resources/collapser.css")"></link>
	<link rel="stylesheet" type="text/css" href="#surl("value=/backend/resources/docs.css")"></link>
<link rel="stylesheet" type="text/css" href="#surl("value=/style/demo.css")" media="all"></link>
	
	<script type="text/javascript" src="#surl("value=/jscript/ext/adapter/jquery/jquery.js")"></script>
		<script type="text/javascript" src="#surl("value=/jscript/ext/adapter/jquery/chili-1.7pack.js")"></script>
			<script type="text/javascript" src="#surl("value=/jscript/ext/adapter/jquery/jquery.easing.js")"></script>
				<script type="text/javascript" src="#surl("value=/jscript/ext/adapter/jquery/jquery.dimensions.js")"></script>
					<script type="text/javascript" src="#surl("value=/jscript/ext/adapter/jquery/jquery.accordion.js")"></script>
					
					<script type="text/javascript">
					jQuery().ready(function(){
					jQuery('#navigation').accordion({
			active: false,
			header: '.head',
			navigation: true,
			event: 'mouseover',
			fillSpace: true,
			animated: 'easeslide'
		});
					});
					</script>
</head>

<body>
<table width="100%" border="0">
  <tr>
    <td colspan="2"><img src="#surl("value=/images/e-business-suite.png")"></td>
    <td width="26%" align="right"><span style="color: #000000;">$!currentUser.username ($!currentUser.role.name)</span><a href="#surl("value=/user/password/edit.action")" target="main" ><font size="1" color="white" title="Change Password"><img src="#surl("value=/images/silk/key_add.png")" border="0"></font></a>&nbsp;<font color="white"></font>&nbsp;
		<a href="#surl("value=/backend/user/site.action")" target="_parent" ><font size="1" color="white" title="Change Site"><img src="#surl("value=/images/silk/group_go.png")" border="0"></font></a>&nbsp;<font color="white"></font>&nbsp;
		<a href="#surl("value=/backend/user/logout.action")" target="_parent" ><font size="1" color="white" title="Sign Out"><img src="#surl("value=/images/silk/delete.png")" border="0"></font>&nbsp;</a></td>
  </tr>
  <tr>
    <td colspan="3" background="#surl("value=/backend/resources/tree-bg.gif")">&nbsp;</td>
  </tr>
  <tr>
    <td width="17%"><a id="help-forums" href="http://www.blueoxygen.org/jiveforums/">Help Forums</a></td>
    <td colspan="2" rowspan="2" height="500"><iframe id="main" name="main" frameborder="no" width="100%" height="500"></iframe></td>
  </tr>
  <tr>
    <td valign="top"><div  style="height:250px;margin-bottom:1em;"> 
			<ul id="navigation"> 

		$flat_script
		</ul>
		
	</div>;</td>
  </tr>
  <tr>
    <td colspan="3" align="center">Copyright &copy; 2000-2007, BlueOxygen Technology. All Rights Reserved. </td>
  </tr>
</table>
</body>
</html>
