<html lang="en">
<head>
  <title>BlueOxygen Cimande Workspace Project</title>
    <link rel="stylesheet" type="text/css" href="#surl("value=/backend/resources/collapser.css")"></link>
	<link rel="stylesheet" type="text/css" href="#surl("value=/backend/resources/docs.css")"></link>
		<link rel="stylesheet" type="text/css" href="#surl("value=/style/menu.css")" media="screen, projection"></link>
				<link rel="stylesheet" type="text/css" href="#surl("value=/style/boxes.css")" media="all"></link>
				<link rel="stylesheet" type="text/css" href="#surl("value=/style/reset.css")" media="all"></link>
				<!--[if IE]>
			<link rel="stylesheet" type="text/css" href="#surl("value=/style/iestyle.css")" media="all"></link>
			<![endif]-->
			<!--[if lt IE 7]>
			<link rel="stylesheet" type="text/css" href="#surl("value=/style/below_ie7.css")" media="all"></link>
			<![endif]-->
			<!--[if IE 7]>
			<link rel="stylesheet" type="text/css" href="#surl("value=/style/ie7.css")" media="all"></link>
<![endif]-->
		
</head>
<body class="ext-gecko ext-strict" id="html-body">
<script type="text/javascript" src="#surl("value=/jscript/ext/adapter/prototype/prototype.js")"></script>
<script type="text/javascript" src="#surl("value=/jscript/ext/adapter/prototype/ext-prototype-adapter.js")"></script>
<script type="text/javascript" src="#surl("value=/jscript/ext/adapter/prototype/effects.js")"></script>


<div class="header">
<div class="header-top">
<img src="#surl("value=/images/blueoxygen-logo.png")" class="logo">
	<div class="header-right">
	<p class="super">
		<span style="color: #ffffff;">$!currentUser.username ($!currentUser.role.name)</span> 
		<a href="#surl("value=/user/password/edit.action")" target="main" ><font size="1" color="white" title="Change Password"><img src="#surl("value=/images/silk/key_add.png")" border="0"></font></a>&nbsp;<font color="white"></font>&nbsp;
		<a href="#surl("value=/backend/user/site.action")" target="_parent" ><font size="1" color="white" title="Change Site"><img src="#surl("value=/images/silk/group_go.png")" border="0"></font></a>&nbsp;<font color="white"></font>&nbsp;
		<a href="#surl("value=/backend/user/logout.action")" target="_parent" ><font size="1" color="white" title="Sign Out"><img src="#surl("value=/images/silk/delete.png")" border="0"></font>&nbsp;</a></td></tr>
		</p>
		</div>
	</div>

	<div class="clear"></div>
	
<div class="nav-bar">
<ul id="nav">
		$menu_script
		</ul>
		</div> 
			</div>

<div class="middle">  
  <iframe id="main" name="main" frameborder="no" height="100%" width="100%"></iframe>
</div>
<div class="footer">
<p>Copyright &copy; 2000-2007, <strong>BlueOxygen Technology</strong>. All Rights Reserved.</p>
</div>
  </body>
</html>