<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Workspace Management - Add a new Module Function</title>
  <link type="text/css" rel="stylesheet" href="../../style.css">
  <script type="text/javascript">
  _editor_url = "../../htmlarea/";
  _editor_lang = "en";
</script>

<script type="text/javascript" src="../../htmlarea/htmlarea.js"></script>
</head>
<body >
<div class="errorMessage">
#sfielderror()
</div>


<form method="get" action="addModuleFunction.action" name="upload" enctype="multipart/form-data" > 
<table align="center" bgcolor="gray" border="0" cellpadding="5" cellspacing="1" width="98%">
  <tbody>
  <tr bgcolor="#d0dcff">
    <td colspan="3"><b>Add Module Function<b></td>
  </tr>
   <tr bgcolor="#ffffff">
     <td style="font-weight: bold;" align="right" valign="top">Name:<font color="RED">*</font></td>
    <td><input type="text" name="name" maxlength="30" value="$!name" size="30"></td>
  </tr>
  <tr bgcolor="#ffffff">
        <td style="font-weight: bold;" align="right" valign="top">
        <font color="red">*</font>
        Description:
        </td>
        <td>
        	    		<input type="text" name="description" maxlength="30"  size="30">
        	
         </td>
      </tr>
  
   <tr bgcolor="#ffffff">
     <td style="font-weight: bold;" align="right" valign="top">Thread Master ID:</td>
    <td>
    <input type="textfield" id="moduleFunctionName" value="None" size="15" disabled="true" onfocus="this.blur()"/>
    <input type="hidden" id="moduleFunctionId" name="moduleFunctionId" value=""/>
    &nbsp;&nbsp;<input type="button" value="Change" onclick="javascript:window.open('../module_function/listThreadNumber.action','cats','scrollbars=yes,status=no,width=300,height=300')"/>
    </td>
  </tr>
  
 
  <tr bgcolor="#ffffff">
     <td style="font-weight: bold;" align="right" valign="top">Descriptor:</td><td>
	<input type="textfield" id="moduleDescriptorDescription" value="None" size="15" disabled="true" onfocus="this.blur()"/>
    <input type="hidden" id="moduleDescriptorId" name="moduleDescriptorId" value=""/>
    &nbsp;&nbsp;<input type="button" value="Change" onclick="javascript:window.open('../module_function/listModuleDescriptor.action','cats','scrollbars=yes,status=no,width=300,height=300')"/>
  	</td>
  </tr>
  
  <tr bgcolor="#ffffff">
  	 <td style="font-weight: bold;" align="right" valign="top">Table References:</td>
    <td><input type="text" name="tableReferences" value="$!tableReferences" size="30"></td>
  </tr>
  <tr bgcolor="#ffffff">
  	 <td style="font-weight: bold;" align="right" valign="top">View All:</td>
  	<td><input type="radio" name="viewActive" value=1 checked> Yes<br>
  	<input type="radio" name="viewActive" value=0 > No
  	</td>
  </tr>
  
  <tr bgcolor="#e4e4e4">
  <td colspan="3"> 
	<input type="submit" name="Submit" value="Submit" onClick="doUpload()">&nbsp;&nbsp;
	<input type="reset" name="Clear">
  </td>
  </tr>
  </tbody>
</table>
    

</form>

<p>&nbsp;</p>

</body>
</html>