<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Workspace Management - Delete Site Confirmation</title>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <meta name="GENERATOR" content="Quanta Plus">
  <link rel="StyleSheet" href="dtree.css" type="text/css" />
  <script type="text/javascript" src="dtree.js"></script>

</head>
<body>


<form action="delete.action" method="GET">
<div class=errorMessage>This action cannot be undone.</div>
<p>Are you sure you want to delete <strong>$site.Name</strong>?
<input type="hidden" name="id" value="$site.Id">
</p>
<input type="submit" value="Delete"><input type="button" value="Cancel" OnClick="javascript:location.href='view.action?id=$site.Id';">
</form>

</body>
</html>
