A { 
	color: #000000;
	TEXT-DECORATION : none;
}
A:link {
	COLOR: #000000; 
	TEXT-DECORATION: none;
}
A:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	COLOR: red; 
	TEXT-DECORATION: none;
}
.navigation {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; white-space: normal; padding-top: 5px; padding-left: 2px}
.text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	clip:    rect(   );
	color: #000000;
	font-style: normal;
}
.text:link {
	color: #000000;
	TEXT-DECORATION: none;
}
.text:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: strong;
	TEXT-DECORATION: underline;
}

.copyright {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; padding-top: 2px; padding-left: 2px; color: #333333}
.sub-title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #336666;
}
.page_title {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #336666; padding-top: 1px; padding-left: 3px}
.contactus {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; line-height: 26px; padding-left: 5px}
.linktext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #336666;
	padding-top: 1px;
	padding-left: 5px;
}
.contactustext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	padding: 10px;
}
