<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Workspace Management -
Add a new Company</title>
  <link type="text/css" rel="stylesheet" href="../../style.css">
  <script type="text/javascript">
  _editor_url = "../../htmlarea/";
  _editor_lang = "en";
</script>

<script type="text/javascript" src="../../htmlarea/htmlarea.js"></script>
</head>
<body onload="HTMLArea.replaceAll();">
#if (!$actionErrors.isEmpty())
<div class="errorMessage">Errors</div>
<ul class="errorMessage">
#foreach( $error in $actionErrors ) <li>$error</li>
#end
</ul>
#end


<form method="post" action="add.action">
<table bgcolor="black" border="0" cellpadding="3" cellspacing="1" width="98%"><tr bgcolor="#ffffff" valign="top"><td bgcolor="#D0DCFF" colspan="3"><b>new - backend_user</b></td>
</tr>

    <tr bgcolor="#ffffff" valign="top"><td width="25%"><div align="right"><font color="red">* </font>Login: 
					</div></td><td><input maxlength="128" name="user.username" size="15" type="text" value="$!user.username"></tr>
	
	<tr bgcolor="#ffffff" valign="top"><td width="25%"><div align="right"><font color="red">* </font>Password: 
					</div></td><td><input maxlength="30" name="user.password" size="15" type="password" value="$!user.password"></tr>

	<tr bgcolor="#ffffff" valign="top"><td width="25%"><div align="right"><font color="red">* </font>First Name: 
					</div></td><td><input maxlength="128" name="name.first" size="15" type="text" value="$!user.name.first"></tr>

	<tr bgcolor="#ffffff" valign="top"><td width="25%"><div align="right"><font color="red"></font>Last Name: 
					</div></td><td><input maxlength="128" name="name.last" size="15" type="text" value="$!user.name.last"></tr>

	<tr bgcolor="#ffffff" valign="top"><td width="25%"><div align="right"><font color="red">*</font>Company: 
					</div></td><td><input type="textfield" id="perusahaanName" size="15" disabled="true" onfocus="this.blur()" value="$!user.company.name"/>&nbsp;
					  <input type="hidden" id="companyId" name="company.id" value="$!user.company.id"/>&nbsp;
					  <input type="button" value="View Company" onclick="javascript:window.open('../user/viewCompany.action','cats','scrollbars=yes,status=no,width=300,height=300')"/></td>
					 

	<tr bgcolor="#ffffff" valign="top"><td width="25%"><div align="right"><font color="red">* </font>Position: 
					</div></td>
	  <td>  <input type="textfield" id="jabatanName" size="15" disabled="true" onfocus="this.blur()" value="$!user.job.name"/>   
	  <input type="hidden" id="viewjobId" name="job.id" value="$!user.job.id"/>&nbsp;&nbsp;
	    <input type="button" value="View Position " onclick="javascript:window.open('../user/viewJob.action','cats','scrollbars=yes,status=no,width=300,height=300')"/> </td>
	 

	<tr bgcolor="#ffffff" valign="top"><td width="25%"><div align="right"><font color="red"></font>Email: 
					</div></td><td><input maxlength="125" name="user.email" size="25" type="text" value="$!user.email"></tr>

	<tr bgcolor="#ffffff" valign="top"><td width="25%"><div align="right"><font color="red"></font>Address: 
					</div></td><td><input maxlength="255" name="address.street1" size="35" type="text" value="$!user.address.street1"></tr>


	<tr bgcolor="#ffffff" valign="top"><td width="25%"><div align="right"><font color="red"></font>: 
					</div></td><td><input maxlength="255" name="address.street2" size="35" type="text" value="$!user.address.street2"></tr>

	<tr bgcolor="#ffffff" valign="top"><td width="25%"><div align="right"><font color="red"></font>City: 
					</div></td><td><input maxlength="128" name="address.city" size="15" type="text" value="$!user.address.city"></tr>
	
	<tr bgcolor="#ffffff" valign="top"><td width="25%"><div align="right"><font color="red"></font>Description:
						</div></td><td valign="top"><textarea cols="35" name="user.description" rows="5" value="$!user.description"></textarea></tr>

	
	<tr bgcolor="#e4e4e4" valign="top" ><td colspan="2">
	  <input value="Save" type="submit"> 
	  <input value="Reset" type="reset">
	  <input type="hidden" name="user.id" value="$!user.id"/>
	  </td></tr></table>
	   </tr>
    </tbody>
  </table>
</form>
</body>
</html>