<head>
  <title>Workspace Management - Add a new Section</title>
  <link type="text/css" rel="stylesheet" href="../../style.css">
  <script type="text/javascript">
  _editor_url = "../../htmlarea/";
  _editor_lang = "en";
</script>



 <form method="post" action="addusersite.action">
 <tbody><tr bgcolor="#ffffff" valign="top"><td bgcolor="#ffccff">&nbsp;</td>
      	</tr>
      	<tr bgcolor="#ffffff" valign="top"> 
      	<td bgcolor="#ffffff">
      	

<table bgcolor="black" border="0" cellpadding="3" cellspacing="1" width="100%">

	<tbody><tr bgcolor="#ffffff" valign="top"> 
      	<td colspan="3" bgcolor="#d0dcff">LOGIN :  $!user.username</td>
      	</tr>


  </tbody></table></td>
      	</tr><tr bgcolor="#ffffff" valign="top"> 

      	<td colspan="10" bgcolor="white">
<table bgcolor="black" border="0" cellpadding="3" cellspacing="1" width="100%">
    	<tbody><tr bgcolor="#ffffff" valign="top"> 
      	<td colspan="10" bgcolor="#0000FF"><b> </b>
      	  <b><font color="#FFFFFF">Add User Site </font></b></td>
        </tr>    	     	



  </tbody></table><table bgcolor="black" border="0" cellpadding="3" cellspacing="1" width="100%">

    <tbody><tr bgcolor="#ffffff" valign="top"> 
      <td width="33%"> 
        <div align="right"><font color="#ff0000">*</font> Site ID:</div>
      </td>
      <td width="67%"><input type="textfield" id="lihatsiteName" value="None" size="15" disabled="true" onfocus="this.blur()"/>&nbsp; <input type="hidden" id="viewsiteId" name="site.id" value="0"/> 
      <input type="button" value="View Site" onclick="javascript:window.open('../user/viewSite.action','cats','scrollbars=yes,status=no,width=300,height=300')"/>          </td>
      
    </tr>
      
    
    <tr bgcolor="#ffffff" valign="top">
    <td align="right" width="25%">&nbsp;</td>
    <td colspan="2">
    	<p>
    	  <input type="submit" name="Submit" value="Add Workflow Site">
<input name="user.id" value="$!user.id" type="hidden"/>		  
    	  </p>
    	</td></tr>
  </tbody></table>

 
 </form>
<table width="100%" border="0" cellpadding="3" cellspacing="1" bgcolor="#000000">
	<tbody>
	  <tr bgcolor="#0000CC">
	    <td width="23%"><strong><font color="#FFFFFF">Site</font></strong></td>
	    <td width="58%"><strong><font color="#FFFFFF">Description</font></strong></td>
	    <td width="19%"><strong><font color="#FFFFFF">Action</font></strong></td>
	  </tr>
	  #foreach($us in $userSites)
	  <tr bgcolor="#FFFFFF">
	    <td>$!us.site.name</td>
	    <td>$!us.site.description</td>
	    <td>
	      <div align="center"><a href="deletesite.action?user.id=$!user.id&userSite.id=$!us.Id">Delete</a></div></td>
	  </tr>
	  #end
	</tbody>
</table>
<div align="center"><br>
  <input value="=== FINISH ===" type="button" onClick="javascript:location.href='savesucces.action';"> 
</div>
 