<html>
<head>
<title>list - Theme Option</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="AUTHOR" content="Amix">
<link rel="stylesheet" type="text/css" href="../../decorators/tables.css">

</head>
<body>
<h3>Theme Option List</h3>
#if ($themes.isEmpty()) No Themes available yet
#else

<table width=100% border="0">
<tr>
	<td width=60%>None</td>
	<td><input type="button" onClick="javascript:window.opener.document.getElementById('theme_id').value='';window.opener.document.getElementById('themeName').value='None';window.close();" value="Set"></td>
</tr>
<tr>
	<td width=60%>0</td>
	<td><input type="button" onClick="javascript:window.opener.document.getElementById('theme_id').value='0';window.opener.document.getElementById('themeName').value='0';window.close();" value="Set"></td>
</tr>
#foreach ($theme in $themes)
<tr>
	<td width=60%>$theme.name</td>
	<td><input type="button" onClick="javascript:window.opener.document.getElementById('theme_id').value='$theme.id';window.opener.document.getElementById('themeName').value='$theme.name';window.close();" value="Set"></td>
</tr>
#end
</table>
#end
</body>
</html>
