<div id="FormDiv"> <form name="filter" method="post" action="search.action">
<table border="0" cellspacing="0" cellpadding="5" width="100%">

 <tr bgcolor="#d0dcff">
      <td colspan=3><strong>Search - Section </strong></td>
  </tr>

     <tr bgcolor="#ffffff">
        <td width="25%">ID <font color=red>contains</font></td><td>:</td>
        <td> <input name="id" value="" size="35%"> </td>
      </tr>
      <tr bgcolor="#ffffff">
        <td >Descriptor <font color=red>contains</font> </td><td>:</td>
<td> 	<input type="textfield" id="DescriptorDescription" value="None" size="35%" disabled="true" onfocus="this.blur()"/>
    <input type="hidden" id="descriptor_id" name="descriptor_id" value=""/>
    &nbsp;&nbsp;<input type="button" value="FIND" onclick="javascript:window.open('listDescriptor.action','cats','scrollbars=yes,status=no,width=300,height=300')"/>
  	</td>
      </tr>
      <tr bgcolor="#ffffff">
        <td>
        	Code <font color=red>contains</font> </td><td>:
        </td>
        <td width="75%"><input maxlength="3" name="code" size="35%" value=""></td>
      </tr>

#if($iparentcode)
	    <tr bgcolor="#ffffff">
        <td >
        Parent Code <font color=red>contains</font></td><td>:
        </td>
 <td>   <input type="textfield" id="parentCode" value="None" size="35%" disabled="true" onfocus="this.blur()"/>
    <input type="hidden" id="iparentcode" name="iparentcode" value=""/>
    &nbsp;&nbsp;<input type="button" value="FIND" onclick="javascript:window.open('listParentCode.action','cats','scrollbars=yes,status=no,width=300,height=300')"/>
    </td>
      </tr>
#end
  
      <tr bgcolor="#ffffff">
        <td >URL Image <font color=red>contains</font></td><td>:</td>
        <td> <input name="url_section" value="" size="35%" type="text"> </td>
      </tr>

      <tr bgcolor="#ffffff">
        <td >Description <font color=red>contains</font> </td><td>:</td>
        <td>
        	<input maxlength="128" name="description" size="35%" >
         </td>
      </tr>
      <tr bgcolor="#ffffff">
        <td >Active </td><td>:</td>
        <td><input name="activeFlag" value="1" type="radio">Yes &nbsp; <input name="activeFlag" value="0" type="radio">No
        </td>
      </tr>
      <tr bgcolor="#d0dcff">
         <td><a href="javascript:ShowHide('FormDiv','hidden')">Hide Form</a></td><td></td>
       <td ><input name="Submit" value="Search" type="submit" onsubmit="javascript:ShowHide('FormDiv','hidden')">&nbsp;&nbsp;
        <input name="Clear" value="Reset" type="reset"> </td>
      </tr>
  </table>
</form>

</div>