H1, H2,H3,H4,H5,H6 { font-family: Arial, helvetica,sans-serif }
P {
	FONT: 10pt Verdana, helvetica,arial,sans-serif
}
BODY {
	FONT: 10pt Tahom, Arial, Helvetica, sans-serif;
	color: #000000;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 11px;

}

TABLE {
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 12px;
	
}
A {
	FONT-FAMILY: Arial, helvetica, arial, sans-serif; FONT-STYLE: normal; TEXT-DECORATION: underline
; color: #000000
}
A:link {
	COLOR: #000000; CURSOR: hand; FONT-STYLE: normal; FONT-WEIGHT: normal;TEXT-DECORATION: underline
}
A:active {
	CURSOR: hand; FONT-STYLE: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none
; color: #000000 ; TEXT-DECORATION: underline
}
A:visited {
	CURSOR: hand; FONT-STYLE: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none
; color: #000000 ;TEXT-DECORATION: underline
}
A:hover {
	COLOR: red; CURSOR: hand; FONT-STYLE: bold; FONT-WEIGHT: normal; TEXT-DECORATION: underline 
}
TD {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Tahoma, Helvetica, sans-serif
}
.hd {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #003399; FONT-FAMILY: Tahoma, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.hd1 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #003399; FONT-FAMILY: Tahoma, Helvetica, sans-serif
}
.hd2 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; TEXT-TRANSFORM: uppercase; COLOR: #003399; FONT-FAMILY: Tahoma, Helvetica, sans-serif; TEXT-DECORATION: none
}
.hd3 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; TEXT-TRANSFORM: none; COLOR: #003399; FONT-FAMILY: Tahoma, Helvetica, sans-serif; TEXT-DECORATION: none
}
.hd4 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; TEXT-TRANSFORM: none; COLOR: #003399; FONT-FAMILY: Tahoma, Helvetica, sans-serif; TEXT-DECORATION: none
}
.h4 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; TEXT-TRANSFORM: none; COLOR: #003399; FONT-FAMILY: Tahoma, Helvetica, sans-serif; TEXT-DECORATION: none
}

BODY {
	FONT: Tahoma;   FONT-SIZE: 12px; 
}
IMG {
	BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; BORDER-TOP-COLOR: #000000; BORDER-RIGHT-COLOR: #000000
}

SELECT {
	BORDER-BOTTOM-COLOR: gray; BORDER-LEFT-COLOR: gray; BORDER-RIGHT-COLOR: gray; BORDER-TOP-COLOR: gray; FONT-FAMILY: Tahoma,Arial,helvetica,arial; FONT-SIZE: 9pt
}
TEXTAREA {
	background-color: transparent;
	border-bottom-width: 1px;
	border-color: #000000;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
	color: #000000;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-indent: 2px;
}
FORM {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Tahoma, Helvetica, sans-serif
}
INPUT {
	background-color: transparent;
	border-bottom-width: 1px;
	border-color: #000000;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
	color: #000000;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-indent: 2px;
}

INPUT.submit {
	background-color: transparent;
	border-bottom-width: 1px;
	border-color: #000000;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
	color: #000000;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-indent: 2px;
}

INPUT.button {
	background-color: transparent;
	border-bottom-width: 1px;
	border-color: #000000;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
	color: #000000;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-indent: 2px;
}
SELECT {
	border-bottom-width: 1px;FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Tahoma, Helvetica, sans-serif
}

