<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Workspace Management - Add a new Template</title>
  <link type="text/css" rel="stylesheet" href="../../style.css">
  <script type="text/javascript">
  _editor_url = "../../htmlarea/";
  _editor_lang = "en";
</script>

<script type="text/javascript" src="../../htmlarea/htmlarea.js"></script>
</head>

<body onload="HTMLArea.replaceAll();libinit()">
#if (!$actionErrors.isEmpty())
<div class="errorMessage">Errors</div>
<ul class="errorMessage">
#foreach( $error in $actionErrors ) <li>$error</li>
#end
</ul>
#end

<center>
<form method="post" action="add.action" name="upload" enctype="multipart/form-data" > 
<table bgcolor="gray" border="0" cellpadding="5" cellspacing="1" width="98%">
  <tbody>
  <tr bgcolor="#d0dcff">
    <td colspan='3'><strong>Create Template</strong></td>
  </tr>
  <tr bgcolor="#ffffff">
    <td style="font-weight: bold;" align="right" valign="top" width=25%><font color="RED">*</font>
    Name:
    </td>
    <td><input type="text" name="name" maxlength="125" value="" size="30%"></td>

    <td align="right" valign="top"><img alt="Name of The Template" src="../../images/help.gif" style="border: 0px solid ; width: 16px; height: 16px;"></td>
  </tr>
  <tr bgcolor="#ffffff">
    <td style="font-weight: bold;" align="right" valign="top">Descriptor ID:</td>
     <td><input type="text" id="descriptorDescription" maxlength="128" value="None" size="30%">
     <input type="hidden" id="descriptor_id" name="descriptor_id" value="">
    <input type="button" value="Change" onclick="javascript:window.open('listDescriptor.action','cats','scrollbars=yes,status=no,width=300,height=300')"/> 
  	</td>
    <td align="right" valign="top"><img alt="Descriptor of The Template" src="../../images/help.gif" style="border: 0px solid ; width: 16px; height: 16px;"></td>
</tr>  
<tr bgcolor="#ffffff">
    <td style="font-weight: bold;" align="right" valign="top">Folder:</td>
     <td><input type="text" folder="folder" maxlength="15" value="" size="30%"></td>
    <td align="right" valign="top"><img alt="Folder of The Template" src="../../images/help.gif" style="border: 0px solid ; width: 16px; height: 16px;"></td>
  	</td>
  
  </tr>
  <tr bgcolor="#ffffff">
  	<td style="font-weight: bold;" align="right" valign="top">Url Xsl Template:</td>
    <td><input name="url_xsl_template" value="" size="30%"></td>
    <td align="right" valign="top"><img alt="URL XSL of The Template" src="../../images/help.gif" style="border: 0px solid ; width: 16px; height: 16px;"></td>
	</tr>

  <tr bgcolor="#ffffff"> 
    <td style="font-weight: bold;" align="right" valign="top"><font color="RED">*</font>
    Description:
    </td>
    <td>
  	<textarea name="description" style="width: 110%" rows="15" cols="80">
        	
	</textarea>
	</td>
  	<td align="right" valign="top"><img alt="Description of Template" src="../../images/help.gif" border="0"></td>
  </tr>
    
  <tr bgcolor="#d0dcff">
  <td colspan=3> 
	<input type="submit" name="Submit" value="Save" onClick="doUpload()">&nbsp;&nbsp;
	<input type="reset" name="Clear">
  </td>
  </tr>
  </tbody>
</table>
</form>
</center>
</body>
</html>
