<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!--<%@ taglib uri = "webwork" prefix = "ww" %>-->
<html>
	<head>
		<title>Form - Window</title>
		<link rel="stylesheet" type="text/css" href="../../style.css">
	</head>
	<body>
		#if (!$actionErrors.isEmpty())
			<div class="errorMessage">Errors</div>
			<ul class="errorMessage">
			#foreach( $error in $actionErrors )
				<li>$error</li>
			#end
			</ul>
		#end
		
		<form method="get" action="add.action">
			<table border="0" cellpadding="5" cellspacing="1" width="98%" bgcolor="#000000">
				<tr bgcolor="#d0dcff">
					<td colspan="2"><b>Window</b></td>
				</tr>
				<!--tr bgcolor="#ffff00">
					<td colspan="2">&nbsp;</td>
				</tr-->
				<tr bgcolor="#ffffff">
					<td>Name: <font color="red">*</font></td>
					<td>
						<input name="window.name" value="$!window.name"/>
					</td>
				</tr>
				<tr bgcolor="#ffffff">
					<td>Description:</td>
					<td>
						<input name="window.description" value="$!window.description"/>
					</td>
				</tr>
				<tr bgcolor="#ffffff">
					<td>Window Type:</td>
					<td>
						<select name="$!name.name">
							<option value="">Not Define</option>
							#foreach($dl in $name.values)
							<option value="$!dl.value">$!dl.description</option>
							#end
						</select>
					</td>
				</tr>
				<tr bgcolor="#ffffff">
					<td>Dimension:</td>
					<td>
						<input name="window.height" value="$!window.height" size="3"/> H x 
						<input name="window.width" value="$!window.width" size="3"/> W
					</td>
				</tr>
				<tr bgcolor="#e4e4e4">	
			      <td colspan="2"> 
			        <input name="id" type="hidden" value="$!window.id"/>
					<input name="submit" type="submit" value="Submit">
				  </td>
				</tr>
			</table>
		</form>
		<br>
		#if($window.id)
			<form action="addtab.action">
			<table border="0" cellpadding="5" cellspacing="1" width="98%" bgcolor="#000000">
				<tr bgcolor="#d0dcff">
					<td colspan="2"><b>Tab</b></td>
				</tr>
				<tr bgcolor="#ffffff">
  					<td><b>Tab</b></td>
  					<td>
  						<input type="textfield" id="tabDescription" value="$!tab.description" size="35" disabled="true" onfocus="this.blur()"/>
    					<input type="hidden" id="tabId" name="tab.id" value="$!tab.id"/>
    					&nbsp;&nbsp;<input type="button" value="Change" onclick="javascript:window.open('../tab/list.action','cats','scrollbars=yes,status=no,width=300,height=300')"/>    					
  					</td>
				</tr>
				<tr bgcolor="#d0dcff">
					<td colspan="2">
						<input type="hidden" name="window.id" value="$!window.id"/>
						<input type="submit" value="Submit">
						<input type="reset" value="Reset">
					</td>
  				</tr>
			</table>
			</form>
			$!report
  		<br>
  			#if(!$window.tabs.isEmpty())
			<table bgcolor="gray" border="0" cellpadding="5" cellspacing="1" width="98%">
			  <tr id="tableHeader1" bgcolor="#e4e4e4"> 
			    <td>Name</td>
			    <td>Description</td>
				<td>Action</td>
			  </tr>
		  #foreach ($de in $window.tabs) 
			  <tr valign="top" bgcolor="#ffffff"> 
			    <td>$!de.name</td>
			    <td>$!de.description</td>
			    <td width=50><a href="../tab/edit.action?id=$de.Id"><img src="../../images/silk/page_edit.png" border="0"></a> <a href="remove.action?tab.id=$de.id&window.id=$!window.id"><img src="../../images/silk/delete.png" border="0"></a></td>
			  </tr>
		  #end 
			</table>
			#end
		#end
		<br>
	</body>
</html>