<html>
<head>
  <title>Ruang Kerja Warintek - Konfirmasi penghapusan opportunity</title>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <meta name="GENERATOR" content="Quanta Plus">
  <meta name="AUTHOR" content="Alex">
</head>
<body>

<div class=errorMessage>
<form action="delete.action" method="GET">
<table bgcolor="gray" border="0" cellpadding="5" cellspacing="1" width="98%">     
	 <tr bgcolor="#d0dcff">
        <td><strong>Delete Opportunity Confirmation</strong></td></tr>
      <tr bgcolor="#ffffff">
        <td align="center">
<p>Anda yakin akan menghapus <strong>$opportunity.name</strong>?<br/>
<font color=red>This Action can't be <strong>Undo!!</strong>
<input type="hidden" name="id" value="$opportunity.Id">
<p>
</td></tr>
      <tr bgcolor="#d0dcff">
        <td align="center">
<input type="submit" value="Delete"><input type="button" value="Cancel" OnClick="javascript:location.href='viewOpportunity.action?id=$opportunity.id';">
</td></tr></table>

</form>
</div>
</body>
</html>