<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!--<%@ taglib uri = "webwork" prefix = "ww" %>-->
<html>
<head>
  <title>edit - Add Business Partner</title>
 <link type="text/css" rel="stylesheet" href="../../style.css">
  <script type="text/javascript">
  _editor_url = "../../htmlarea/";
  _editor_lang = "en";
</script>

<script type="text/javascript" src="../../htmlarea/htmlarea.js"></script>
</head>
<body onload="HTMLArea.replaceAll();">
#if (!$actionErrors.isEmpty())
<div class="errorMessage">Errors</div>
<ul class="errorMessage">
#foreach( $error in $actionErrors )
<li>$error</li>
 #end
</ul>
#end

<form method="post" action="upDateOpportunityProduct.action" name="upload" enctype="multipart/form-data"> 
<table bgcolor="gray" border="0" cellpadding="5" cellspacing="1" width="60%">
  <tr bgcolor="#d0dcff">
    <td id=tableHeader1 colspan="2">
    <b>Add $!opportunity.name Opportunity Product</b></td>
  </tr>
  <tr bgcolor="#ffffff">
  	<td>Product</td><td>
	<input type="textfield"  value="$!opportunityProduct.name" size="15" disabled="true" onfocus="this.blur()"/>
  </td>                                          
  </tr>
  <tr bgcolor="#ffffff">
  	<td>Target Price:</td>
  	<td><input type="text" name="price" value="$!opportunityProduct.price"></td>
  </tr>
  <tr bgcolor="#ffffff">
  	<td>unit :</td>
  	<td><input type="text" name="unit" value="$!opportunityProduct.unit"></td>
  </tr>
  <tr bgcolor="#d0dcff">
    <td id=tableHeader1 colspan="2"> <input type="hidden" name="id" value="$id">
    <input type="submit" name="Submit" value="submit" onClick="doUpload()">
    <input type="reset" name="Clear">
    </td>
  </tr>
  
 
  </tr>
	<input type="hidden" name="opportunityId" value="$!opportunity.id">
	<input type="hidden" name="opportunityProductId" value="$!opportunityProduct.id">
  </table>
</form>

</body>
</html>