<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Workspace Management - Edit Template Object</title>
  <link type="text/css" rel="stylesheet" href="../../style.css">
  <script type="text/javascript">
  _editor_url = "../../htmlarea/";
  _editor_lang = "en";
</script>

<script type="text/javascript" src="../../htmlarea/htmlarea.js"></script>
</head>
<body onload="HTMLArea.replaceAll();">
#if (!$actionErrors.isEmpty())
<div class="errorMessage">Errors</div>
<ul class="errorMessage">
#foreach( $error in $actionErrors ) <li>$error</li>
#end
</ul>
#end

<form method="post" action="update.action">
<table bgcolor="gray" border="0" cellpadding="5" cellspacing="1" width="98%">
  <tr bgcolor="#d0dcff">
        <td colspan="3"><b>Edit Template Object</b></td>
  </tr>
  <tr bgcolor="#ffffff">
        <td style="font-weight: bold;" align="right" width="25%">
        	<font color="red">*</font>
        	Template Skin:
        	</td>
        <td width="75%"><input maxlength="128" name="template_skin" size="25" value="$!object.template_skin"></td>
        
      </tr>
      <tr bgcolor="#ffffff">
        <td style="font-weight: bold;" align="right" valign="top">Theme ID:</td>
    	<td>
    	<input type="textfield" id="themeName" value="$!object.theme.name" size="35" disabled="true" onfocus="this.blur()"/>
    	<input type="hidden" id="theme_id" name="theme_id" value="$!object.theme.id"/>
    	&nbsp;&nbsp;<input type="button" value="Change" onclick="javascript:window.open('../object/listTheme.action','cats','scrollbars=yes,status=no,width=300,height=300')"/>
   &nbsp;&nbsp;<a href="../theme/edit.action?id=$!object.theme.id">edit</a>
    	</td>
        
      </tr>
      <tr bgcolor="#ffffff">
        <td style="font-weight: bold;" align="right" valign="top">
        <font color="red">*</font>
        Description:
        </td>
        <td>
        	<textarea id="description" name="description" style="width: 110%" rows="15" cols="80">
        	$!object.description</textarea>
         </td>
        
      </tr>
  <tr bgcolor="#d0dcff">
  	<td colspan="2"><input type="submit" value="Update"><input type="reset" value="Reset"><input type="hidden" name="id" value="$id">
</td>
  	</td>
  </tr>
</table>



</form>

<p>&nbsp;</p>
</body>
</html>
