<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Workspace Management - Add a new Category</title>
  <link type="text/css" rel="stylesheet" href="../../style.css">
  <script type="text/javascript">
  _editor_url = "../../htmlarea/";
  _editor_lang = "en";
</script>

<script type="text/javascript" src="../../htmlarea/htmlarea.js"></script>
</head>

<body onload="HTMLArea.replaceAll();">
#if (!$actionErrors.isEmpty())
<div class="errorMessage">Errors</div>
<ul class="errorMessage">
#foreach( $error in $actionErrors ) <li>$error</li>
#end
</ul>
#end

<center>
<form method="post" action="add.action" name="upload" enctype="multipart/form-data" > 
<table bgcolor="gray" border="0" cellpadding="5" cellspacing="1" width="98%">
  <tbody>
  <tr bgcolor="#d0dcff">
    <td colspan='3'><strong>Create Category</strong></td>
  </tr>
  <tr bgcolor="#ffffff">
    <td style="font-weight: bold;" align="right" valign="top" width=25%><font color="RED">*</font>
    Code:
    </td>
    <td><input type="text" name="code" maxlength="3" value="" size="8%"></td>
  	<td align="right" valign="top">
	<img alt="Code of The Category" src="../../images/help.gif" border="0"></td>
  </tr>
  <tr bgcolor="#ffffff">
    <td style="font-weight: bold;" align="right" valign="top">Descriptor:</td>
    <td width="75%">
	<input type="textfield" id="DescriptorDescrip"  value="None" size="30%" disabled="true" onfocus="this.blur()"/>
    <input type="hidden" id="descriptor_id" name="descriptor_id" value=""/>
    <input type="button" value="Change" onclick="javascript:window.open('listDescriptor.action','cats','scrollbars=yes,status=no,width=300,height=300')"/>
  	</td>
  	<td align="right" valign="top"><img alt="Descriptor of The Category"  src="../../images/help.gif" style="border: 0px solid ; width: 16px; height: 16px;"></td>
  </tr>
  <tr bgcolor="#ffffff">
    <td style="font-weight: bold;" align="right" valign="top">Parent Code:</td>
    <td>
    <input type="textfield" id="parentcode" value="None" size="30%" disabled="true" onfocus="this.blur()"/>
    <input type="hidden" id="iparentcode" name="iparentcode" value=""/>
    <input type="button" value="Change" onclick="javascript:window.open('../category/listParentCode.action','cats','scrollbars=yes,status=no,width=300,height=300')"/>
    </td>
  	<td align="right" valign="top"><img alt="Parent Id of The Category" src="../../images/help.gif" style="border: 0px solid ; width: 16px; height: 16px;"></td>
   </tr>
  
  <tr bgcolor="#ffffff">
  	<td style="font-weight: bold;" align="right" valign="top">Url Category Image:</td>
    <td><input type="file" name="url_category_image" value="" size="30%" maxlength="255"></td>
    <td align="right" valign="top"><img alt="URL Image of The Category" src="../../images/help.gif" style="border: 0px solid ; width: 16px; height: 16px;"></td>
	</tr>

  <tr bgcolor="#ffffff"> 
    <td style="font-weight: bold;" align="right" valign="top"><font color="RED">*</font>
    Description:
    </td>
    <td>
  	<textarea name="description" style="width: 110%" rows="15" cols="80" maxlength="125">
        	
	</textarea>
	</td>
  	<td align="right" valign="top"><img alt="Description of The Category" src="../../images/help.gif" border="0"></td>
  </tr>
    <tr bgcolor="#ffffff">
        <td style="font-weight: bold;" align="right" valign="top">Active:</td>
        <td align=left><input name="activeFlag" value="1" type="radio" checked>Yes <br>
        <input name="activeFlag" value="0" type="radio">No
        </td>
  <td align="right" valign="top"><img alt="Status of The Category" src="../../images/help.gif" style="border: 0px solid ; width: 16px; height: 16px;"></td>
  </tr>
  <tr bgcolor="#e4e4e4">
  <td colspan=3> 
	<input type="submit" name="Submit" value="Save" onClick="doUpload()">&nbsp;&nbsp;
	<input type="reset" name="Clear">
  </td>
  </tr>
  </tbody>
</table>
</form>
</center>
</body>
</html>