<html>
<head>
<title>list - descriptors</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="AUTHOR" content="mee_andto@yahoo.com">
<link rel="stylesheet" type="text/css" href="../../decorators/tables.css">

</head>
<body>
<h3>Descriptors List</h3>
#if ($Descriptors.isEmpty()) No Descriptor  available yet
#else

<table width=100% border="0">
<tr>
	<td width=60%>None</td>
	<td><input type="button" onClick="javascript:window.opener.document.getElementById('descriptor_id').value='0';window.opener.document.getElementById('DescriptorDescription').value='None';window.close();" value="Select"></td>
</tr>
#foreach ($Descriptor in $Descriptors)
<tr>
	<td width=60%>$Descriptor.name</td>
	<td><input type="button" onClick="javascript:window.opener.document.getElementById('descriptor_id').value='$Descriptor.id';window.opener.document.getElementById('DescriptorDescription').value='$Descriptor.description';window.close();" value="Select"></td>
</tr>
#end
</table>
#end
</body>
</html>
