<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Ruang Kerja Warintek - Search Section</title>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <meta name="GENERATOR" content="Quanta Plus">
  <link type="text/css" rel="stylesheet" href="../../style.css">
  <script type="text/javascript">
  _editor_url = "../../htmlarea/";
  _editor_lang = "en";
</script>

<script type="text/javascript" src="../../htmlarea/htmlarea.js"></script>
</head>
<body onload="HTMLArea.replaceAll();">
<form name="filter" method="post" action="search.action">
<table border="0" cellspacing="0" cellpadding="5" width="98%">

 <tr bgcolor="#d0dcff">
      <td colspan=3><strong>Search Section </strong></td>
  </tr>

     <tr bgcolor="#ffffff">
        <td width="20%">ID <font color=red>contains</font></td><td>:</td>
        <td> <input name="id" value="" size="35%"> </td>
      </tr>

      <tr bgcolor="#ffffff">
        <td >Descriptor <font color=red>contains</font> </td><td>:</td>
<td> 	<input type="textfield" id="DescriptorDescription" value="None" size="35%" disabled="true" onfocus="this.blur()"/>
    <input type="hidden" id="descriptor_id" name="descriptor_id" value=""/>
    &nbsp;&nbsp;<input type="button" value="FIND" onclick="javascript:window.open('listDescriptor.action','cats','scrollbars=yes,status=no,width=300,height=300')"/>
  	</td>
      </tr>

      <tr bgcolor="#ffffff">
        <td>
        	Code <font color=red>contains</font> </td><td>:
        </td>
        <td width="75%"><input maxlength="3" name="code" size="35%" value=""></td>
      </tr>
      <tr bgcolor="#ffffff">
        <td >URL Image <font color=red>contains</font></td><td>:</td>
        <td> <input name="url_section" value="" size="35%" type="text"> </td>
      </tr>

      <tr bgcolor="#ffffff">
        <td >Description <font color=red>contains</font> </td><td>:</td>
        <td>
        	<input maxlength="128" name="description" size="35%" >
         </td>
      </tr>
      <tr bgcolor="#ffffff">
        <td >Active </td><td>:</td>
        <td><input name="activeFlag" value="1" type="radio">Yes &nbsp; <input name="activeFlag" value="0" type="radio">No
        </td>
      </tr>
      <tr bgcolor="#d0dcff">
        <td></td><td></td>
        <td><input name="Submit" value="Search" type="submit">&nbsp;&nbsp;
        <input name="Clear" value="Reset" type="reset"> </td>
      </tr>
  </table>
</form>
<br><br>
  #if($section.isEmpty())
  <strong>Data not found in Section<strong>
   #else
<table width=98%>
 <tr bgcolor="#d0dcff" align=center>
<td colspan=6><strong>Result Edit - Section</strong></td>
</tr>
<tr bgcolor="#d0dcff" align=center>
<td>Descriptor </td>
<td>Code</td>
<td>URL Section Image</td>
<td>Description</td>
<td>Action</td>
</tr>
<tr bgcolor="#ffffcc">
<td>$!section.sectionDescriptor.name</td>
<td>$!section.Code</td>
<td>$!section.Url_section</td>
<td>$!section.Description</td>
<td><b><a href="edit.action?id=$section.Id">[Edit]</a><a href="confirmDelete.action?id=$section.Id">[Delete]</a></b></td>
</tr>
#end
</table>	 
</body>
</html>
