<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!--<%@ taglib uri = "webwork" prefix = "ww" %>-->
<html>
	<head>
		<title>Summary Droplist</title>
		<link rel="stylesheet" type="text/css" href="../../style.css">
	</head>
	<body>
		<table bgcolor="gray" border="0" cellpadding="7" cellspacing="1" height="183" width="666" >
			<tr bgcolor="#d0dcff">
				
    <td colspan="7" height="19"><b>Summary Droplist</b></td>
			</tr>
			#if ($droplist.isEmpty()) 
			<tr bgcolor="white">				
    <td height="1" colspan="3" ><p>Create Date :</td>
    <td width="407" height="1">
        <input name="createDate2" type="text" readonly="true" size="20"></p></td>
	
			</tr>
			#else 
			<tr bgcolor="white">
				
    <td colspan="3" height="1">Update Date :</td>
     <td width="407" height="1"><input name="createDate" type="text" readonly="true" size="20"></td></tr>

	
			<tr bgcolor="white">
			
    <td colspan="3" height="1">Name : </td>
     <td width="407" height="1"><input type="text" name="textfield" size="20"> 
      </form></td>
			
			</tr>
			<tr bgcolor="white">
			
    <td colspan="3" height="36">Description :</td>
     <td width="407" height="36"><input type="text" name="textfield2" size="20"> 
      </form></td>
			</tr></table>
<p align="left"></p>
			<table bgcolor="gray" border="0" cellpadding="7" cellspacing="1" width="666" height="9">
			<tr bgcolor="#e4e4e4" width="98%">
				
    <td width="48" height="19">
    <p align="left">Value</td>
				
    <td width="1" height="19">
    <p align="left">Description</td>
			</tr>
			<p align="left">#foreach ($ct in $droplists) </p>
			<tr valign="top" bgcolor="white">
				
				<td width="48" height="19">
                <p align="left">$!ct.description</td>
				<td width="1" height="19">
                <p align="left">$!ct.parent.name</td>			
				<td width="264" height="19">
					<p align="left">
					<a href="edit.action?id=$ct.Id">Edit</a>
				#if(!$ct.id.equals("0"))
					<a href="confirm.action?id=$ct.Id">Delete</a>
				#else
					&nbsp;
				#end
				</td>
			</tr>
			<p align="left">#end </p>
			<tr bgcolor="#e4e4e4">
				<td align="right" colspan="3" height="1" width="285">
					<p align="left">#if ($currPage > 0) <a href="search.action?droplist.name=$!droplist.name&droplist.description=$!droplist.description&&orderBy=$!orderBy&currPage=0">&lt;&lt;</a>&nbsp;#end #if ($currPage > 0) <a href="search.action?droplist.name=$!droplist.name&droplist.description=$!droplist.description&&orderBy=$!orderBy&currPage=$prevPage">&lt;</a>&nbsp;#end
					[page $page]
					#if ($currPage < $maxPage) <a href="search.action?droplist.name=$!droplist.name&droplist.description=$!droplist.description&orderBy=$!orderBy&currPage=$nextPage">&gt;</a>&nbsp;#end
					#if ($currPage < $maxPage) <a href="search.action?droplist.name=$!droplist.name&droplist.description=$!droplist.description&orderBy=$!orderBy&currPage=$maxPage">&gt;&gt;</a>&nbsp;#end
				</td>
			</tr>
			<p align="left">#end </p>
			<tr bgcolor="#ffffff">				
    <td colspan="3" height="19" width="285">
    <p align="left"><!--a href="../form.action">Home</a--> Back <a href="../add.action">AddNew</a></td></tr>
	
			<tr bgcolor="#ffffff">				
    <td colspan="3" height="19" width="285">
   
      <p align="right">
      <input type="submit" value="Submit All" name="Submit" style="float: right"></p>

    </td></tr>
	
   	</table>
	</body>
</html>