<link rel="stylesheet" type="text/css" href="../../style.css">
	    <style type="text/css">
<!--
.style1 {
	color: #FFFFFF;
	font-weight: bold;
}
-->
        </style>
	<form method="get" action="../windowrole/save.action">
		<table align="center" bgcolor="gray" border="0" cellpadding="5" cellspacing="1" width="98%">
  			<tr bgcolor="#d0dcff">
				<td colspan="2" bgcolor="#333366"><span class="style1">Window Role</span></td>
			</tr>
			<tr bgcolor="#ffffff">
				<td align="right">Role:</td>
				<td>
					<input type="textfield" id="roleDescription" value="$!windowRole.role.description" size="30" disabled="true" onfocus="this.blur()"/>
    				<input type="hidden" id="roleId" name="role.id" value="$!role.id"/>
					<input type="button" value="Change" onclick="javascript:window.open('../windowrole/listrole.action','cats','scrollbars=yes,status=no,width=300,height=300')"/>
				</td>
			</tr>
			<tr bgcolor="#ffffff">
				<td align="right">Access Control:</td>
				<td>
					#foreach($access in $accessList)
						<input type="checkbox" name="access" value="$!access.id">$!access.value
					#end
				</td>
			</tr>
			<tr bgcolor="#CFE9EB">	
		      <td colspan="2" align="right" bgcolor="#CFE9EB">
		        <input name="window.id" type="hidden" value="$!window.id"/>
		        <input name="windowRole.id" type="hidden" value="$!windowRole.id"/>
				<input type="submit" value="Submit">
			  </td>
			</tr>
		</table>
	</form> 