<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Workspace Management -
Add a new Template Object</title>
  <link type="text/css" rel="stylesheet" href="../../style.css">
  <script type="text/javascript">
  _editor_url = "../../htmlarea/";
  _editor_lang = "en";
</script>

<script type="text/javascript" src="../../htmlarea/htmlarea.js"></script>
</head>
<body onload="HTMLArea.replaceAll();">
#if (!$actionErrors.isEmpty())
<div class="errorMessage">Errors</div>
<ul class="errorMessage">
#foreach( $error in $actionErrors ) <li>$error</li>
#end
</ul>
#end



<form method="post" action="add.action">
  <table bgcolor="gray" border="0" cellpadding="5" cellspacing="1"
 width="98%">
    <tbody>
      <tr bgcolor="#d0dcff">
        <td colspan="3"><b>Create Template Object</b></td>
      </tr>
      <tr bgcolor="#ffffff">
        <td style="font-weight: bold;" align="right" width="25%">
        	<font color="red">*</font>
        	Template Skin:
        	</td>
        <td width="75%"><input maxlength="128" name="template_skin" size="25" value="$!template_skin"></td>
        <td align="right" valign="top"><img alt="Name of The Descriptor" src="../../images/help.gif" border="0"></td>
      </tr>
      <tr bgcolor="#ffffff">
        <td style="font-weight: bold;" align="right" width="25%">
        Theme ID:</td>
    	<td>
    	<input type="textfield" id="themeName" value="None" size="15" disabled="true" onfocus="this.blur()"/>
    	<input type="hidden" id="theme_id" name="theme_id" value="0"/>
    	&nbsp;&nbsp;<input type="button" value="Change" onclick="javascript:window.open('../template_object/listTheme.action','cats','scrollbars=yes,status=no,width=300,height=300')"/>
    	</td>
        <td align="right" valign="top"><img alt="Name of The Descriptor" src="../../images/help.gif" border="0"></td>
      </tr>
      <tr bgcolor="#ffffff">
        <td style="font-weight: bold;" align="right" valign="top">
        <font color="red">*</font>
        Description:
        </td>
        <td>
        	<textarea id="description" name="description" style="width: 110%" rows="15" cols="80">
        	</textarea>
         </td>
        <td align="right" valign="top"><img alt="Description of The Descriptor" src="../../images/help.gif" style="border: 0px solid ; width: 16px; height: 16px;"></td>
      </tr>
      <tr bgcolor="#d0dcff">
        <td colspan="3"><input name="Submit" value="Save" type="submit">&nbsp;&nbsp;
        <input name="Clear" value="Reset" type="reset"> </td>
      </tr>
    </tbody>
  </table>
</form>
</body>
</html>
