<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Workspace Management - Delete Role Confirmation</title>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <meta name="GENERATOR" content="Quanta Plus">
  <meta name="AUTHOR" content="Anggie">
  <link rel="StyleSheet" href="dtree.css" type="text/css" />
  <script type="text/javascript" src="dtree.js"></script>

</head>
<body>

<div class=errorMessage>
<form action="delete.action" method="GET">
This action cannot be undone.
<p>Are you sure you want to delete <strong>$role.Name</strong>?
<input type="hidden" name="id" value="$role.Id">
</p>
<input type="submit" value="Delete"><input type="button" value="Cancel" OnClick="javascript:location.href='view.action?id=$role.Id';">
</form>
</div>
</body>
</html>
