<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!--<%@ taglib uri = "webwork" prefix = "ww" %>-->
<html>
	<head>
		<title>Form - Table</title>
		<link rel="stylesheet" type="text/css" href="../../style.css">
	</head>
	<body>
		#if (!$actionErrors.isEmpty())
			<div class="errorMessage">Errors</div>
			<ul class="errorMessage">
			#foreach( $error in $actionErrors )
				<li>$error</li>
			#end
			</ul>
		#end
		
		<form method="get" action="add.action">
			<table border="0" cellpadding="5" cellspacing="1" width="98%" bgcolor="#000000">
				<tr bgcolor="#d0dcff">
					<td colspan="2"><b>Table</b></td>
				</tr>
				<!--tr bgcolor="#ffff00">
					<td colspan="2">&nbsp;</td>
				</tr-->
				<tr bgcolor="#ffffff">
					<td>Name : <font color="red">*</font></td>
					<td>
						<input name="table.name" value="$!table.name"/>
					</td>
				</tr>
				<tr bgcolor="#ffffff">
					<td>Description :</td>
					<td>
						<input name="table.description" value="$!table.description"/>
					</td>
				</tr>
				<tr bgcolor="#ffffff">
					<td>Table name : <font color="red">*</font></td>
					<td>
						<input name="table.tableName" value="$!table.tableName"/>
					</td>
				</tr>
				<tr bgcolor="#e4e4e4">
					
      <td colspan="2">
      	<input type="submit" value="Submit">
        <input name="id" type="hidden" value="$!table.id"/>
					</td>
				</tr>
			</table>
		</form>
		<br>
			<table bgcolor="gray" border="0" cellpadding="5" cellspacing="1" width="98%">
				<tr bgcolor="#d0dcff">
  					<td><b>Column</b>&nbsp;&nbsp;&nbsp;<a href="../column/edit.action">Add</a></td>
  				</tr>
			</table>
		$!report
	  #if(!$columns.isEmpty())
	<table bgcolor="gray" border="0" cellpadding="5" cellspacing="1" width="98%">
    <!--tr bgcolor="#ffff00">
    	<td id="tableHeader1" colspan="4"><b>Column</b></td>
  	</tr-->
	<tr id="tableHeader1" bgcolor="#e4e4e4"> 
    	<td>Name</td>
    	<td>Description</td>
    	<td>Column Name</td>
    	<td>Action</td>
	  </tr>
  	#foreach ($de in $columns) 
  	  <tr valign="top" bgcolor="#ffffff"> 
    	<td>$!de.name</td>
    	<td>$!de.description</td>
    	<td>$!de.columnName</td>
	    <td><a href="../column/edit.action?id=$de.Id">Edit</a> <a href="../column/delete.action?id=$de.id&tableId=$!table.id">Delete</a></td>
  	  </tr>
  	#end 
	</table>
	#end
	<br>
		<!--table bgcolor="gray" border="0" cellpadding="5" cellspacing="1" width="98%">
		  	<tr bgcolor="#ffffff">
				<td align="center"><a href="../../thin/form.action">Home</a></td>
			</tr>
		</table-->
	</body>
</html>