<html>
<head>
<title>list - table</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="AUTHOR" content="Alex">
<link rel="stylesheet" type="text/css" href="../../decorators/tables.css">

</head>
<body>
<h3>Tables List</h3>
#if ($tables.isEmpty()) No Tables  available yet
#else

<table width=100% border="0">
<tr>
	<td width=60%>None</td>
	<td><input type="button" onClick="javascript:window.opener.document.getElementById('${formId}tableId').value='';window.opener.document.getElementById('${formId}tableDescription').value='None';window.close();" value="Set"></td>
</tr>
#foreach ($table in $tables)
<tr>
	<td width=60%>$table.name</td>
	<td><input type="button" onClick="javascript:window.opener.document.getElementById('${formId}tableId').value='$table.id';window.opener.document.getElementById('${formId}tableDescription').value='$table.description';window.close();" value="Set"></td>
</tr>
#end
</table>
#end
</body>
</html>
