<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Workspace Management - Add a Site</title>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <meta name="GENERATOR" content="Quanta Plus">
  <link type="text/css" rel="stylesheet" href="../../style.css">
 
</head>
<body>
<table bgcolor="gray" border="0" cellpadding="5" cellspacing="1" width="98%">     
	 <tr bgcolor="#d0dcff">
        <td><strong>Add Site Success</strong></td>
      <tr bgcolor="#ffffff">
        <td align="center">
<p>Add New Site Successfull<br>
<p>
</td></tr>
      <tr bgcolor="#d0dcff">
        <td align="center">
</td></tr></table>
</body>
</html>