<html>
<head>
<title>Workspace Management - Search Role Privilage Result</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="GENERATOR" content="Quanta Plus">
	<link type="text/css" rel="stylesheet" href="../../style.css">
</head>
<body>
<table bgcolor="gray" border="0" cellpadding="5" cellspacing="1" width="98%">
      <tr bgcolor="#d0dcff">
        <td colspan="5"><b>View Role Privilage</b></td>
      </tr>
	    
#if ($privilage.isEmpty()) 
		<tr bgcolor="yellow">
        	<td colspan="5" align="right">No such data found</td>
      	</tr>
#else
<tr bgcolor="#e4e4e4" width="98%">
		<td>Module Function ID</td>
	<td>Role ID</td>
	<td>Privilage Flag</td>
		<td>URL Xml</td>
<td>&nbsp;</td>
</tr>
<tr bgcolor="#ffffff" valign="top">
	<td><a href="edit.action?id=$privilage.Id" name="Edit">$!privilage.moduleFunction.Id</a></td>
	<td><a href="edit.action?id=$privilage.Id" name="Edit">$!privilage.role.Id</a></td>
	<td><a href="edit.action?id=$privilage.Id" name="Edit">$!privilage.privilage_flag</a></td>
	<td><a href="edit.action?id=$privilage.Id" name="Edit">$!privilage.Url_xml</a></td>
	<td><a href="edit.action?id=$privilage.Id" name="Edit">edit</a>&nbsp;
	<a href="confirmDelete.action?id=$privilage.Id" name="Delete">del</a></td>	
</tr>
#end
</table>

</body>
</html>
