<html><head>
<title>BlueOxygen Cimande Workspace Framework</title>
	
</head>
<link href="../../style.css" rel="stylesheet" type="text/css"/>
<body bgcolor="white">
	<div style="position: absolute; left: 150px; top: 50px;">
	<form method="post" action="login.action">
		<input type="hidden" name="redirectUri" value="$!redirectUri">
	  	
	        <table border=0 cellpadding=0 cellspacing=5 width="512">
	          <tr> 
	            <td colspan=2><img border=0 
	            src="../../images/e-business-suite.gif" ></td>
	          </tr>
	          <tr> 
	            <td colspan=2><img border=0 height=5 
	            src="../../images/empty.gif" 
	        width=1></td>
	
	          </tr>
	          </table>
	          <div><br>
	          <span style="font-weight: bold;">Login</span><br>
  <table style="text-align: left; width: 100%;" cellpadding="3" cellspacing="1">
	          <tr> 
	            <td style="text-align: right; width:150px" class=form-label-text>Username:</td>
	            <td> 
	              <input name=username size=24>
	            </td>
	          </tr>
	          <tr> 
	            <td style="text-align: right; width:150px" class=form-label-text>Password:</td>
	
	            <td> 
	              <input name=password size=24 
	            type=password>
	            </td>
	          </tr>
	          <tr> 
	            <td></td>
	            <td> 
	              <input name=login type=submit value=Login>
	              <img border=0 height=1 
	            src="../../images/empty.gif" width=15> 
	              <input type=reset value=Reset name="reset">
	            </td>
	          </tr>
	          <tr> 
	            <td></td>
	            <td style="color: #ff0000; text-align: left;">$!fieldErrors.username &nbsp;</td>
	          </tr>
	          <tr> 
	            <td></td>
	            <td>
	            	Don't have account, <a href="#surl("value=/register.action" "includeParams=false")">Register</a>.
	            </td>
	          </tr>
	          <tr> 
	            <td></td>
	            <td class=copyright-text>&nbsp;</td>
	          </tr>
	          <tr> 
	            <td colspan="2">Copyright &copy; 2000-2007, <b>BlueOxygen Technology</b>. 
	              All Rights Reserved. </td>
	          </tr>
	        </table>
	      </div>
	</form>
	</div>	
 </body>
</html>
