<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Table Detail</title>
 <link type="text/css" rel="stylesheet" href="../../style.css">
  <script language="JavaScript">
  	function newColumn(){
  		id = document.getElementById("columnId");
  		name = document.getElementById("columnName");
  		description = document.getElementById("columnDesc");
  		id.value = "";
  		name.value = "";
  		description.value = "";
  	}
  </script>
</head>
<body>
<table bgcolor="gray" border="0" cellpadding="5" cellspacing="1" width="98%">
  <tbody>
	<tr bgcolor="#d0dcff">
    <td id="tableHeader1" colspan="2"><b>Table</b></td>
  	</tr>
	<tr bgcolor="#ffff00">
	  <td id="tableHeader2" colspan="2"><b><a href="edit.action?table.id=$!table.id">Edit</a> | <a href="delete.action?table.id=$!table.Id">Delete</a></b>
    </tr>
    <tr bgcolor="#ffffff">
      <td id="tableHeader2">Table :</td>
      <td>$!table.name  </td>
    </tr bgcolor="#ffffff">
    <tr bgcolor="#ffffff">
      <td id="tableHeader2">Description :   </td>
      <td>$!table.description  </td>
    </tr>
	
    </tbody>
	</table>
  	<br>
  
<table bgcolor="gray" border="0" cellpadding="5" cellspacing="1" width="98%">
	<tr bgcolor="#ffff00">
		<td><b>Column</b>&nbsp;&nbsp;&nbsp;<a href="../gx-column/create.action?table.id=$!table.id">Add</a></td>
  </tr>
</table>
<br>
#saction("name=create" "namespace=/module/gx-column" "executeResult=true")
 <br>$!report
  #if(!$table.columns.isEmpty())
<table bgcolor="gray" border="0" cellpadding="5" cellspacing="1" width="98%">
    <tr bgcolor="#ffff00">
    	<td id="tableHeader1" colspan="4"><b>Column</b></td>
  	</tr>
    <tr id="tableHeader1" bgcolor="#d0dcff"> 
    	<td>Name</td>
    	<td>Description</td>
    	<td>Data Type</td>
		<td>Action</td>
  	</tr>
  #foreach ($de in $table.columns) 
  <tr valign="top" bgcolor="#ffffff"> 
    <td>$!de.name</td>
    <td>$!de.description</td>
    <td>$!de.dataType.value</td>
    <td><a href="../gx-column/edit.action?column.id=$de.id">Edit</a> <a href="../gx-column/delete.action?column.id=$de.id&table.id=$!table.id">Delete</a></td>
  </tr>
  #end 
  </table>
  #end
</body>
</html>
    
