<html>
<head>
<title>list - module function</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="AUTHOR" content="Alex">
<link rel="stylesheet" type="text/css" href="../../decorators/tables.css">

</head>
<body>
<h3>Module Function List</h3>
#if ($moduleFunction.isEmpty()) No Module Functions  available yet
#else

<table width=100% border="0">
<tr>
	<td width=60%>None</td>
	<td><input type="button" onClick="javascript:window.opener.document.getElementById('moduleFunctionId').value='';window.opener.document.getElementById('moduleFunctionName').value='None';window.close();" value="Set"></td>
</tr>
#foreach ($moduleFunction in $moduleFunctions)
<tr>
	<td width=60%>$moduleFunction.name</td>
	<td><input type="button" onClick="javascript:window.opener.document.getElementById('moduleFunctionId').value='$moduleFunction.id';window.opener.document.getElementById('moduleFunctionName').value='$moduleFunction.name';window.close();" value="Set"></td>
</tr>
#end
</table>
#end
</body>
</html>
