<html>
<head>
<title>list - Role</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="AUTHOR" content="Alex">
<link rel="stylesheet" type="text/css" href="../../decorators/tables.css">

</head>
<body>
<h3>Role List</h3>
#if ($roles.isEmpty()) No Roles  available yet
#else

<table width=100% border="0">
<tr>
	<td width=60%>None</td>
	<td><input type="button" onClick="javascript:window.opener.document.getElementById('role_id').value='';window.opener.document.getElementById('roleName').value='None';window.close();" value="Set"></td>
</tr>
#foreach ($role in $roles)
<tr>
	<td width=60%>$role.name</td>
	<td><input type="button" onClick="javascript:window.opener.document.getElementById('role_id').value='$role.id';window.opener.document.getElementById('roleName').value='$role.name';window.close();" value="Set"></td>
</tr>
#end
</table>
#end
</body>
</html>
