<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Form - Gxform</title>
<link rel="stylesheet" type="text/css" href="../../style.css">
	    <style type="text/css">
<!--
.style1 {
	color: #FFFFFF;
	font-weight: bold;
}
-->
        </style>
</head>
	<body>
		#if (!$actionErrors.isEmpty())
			<div class="errorMessage">Errors</div>
			<ul class="errorMessage">
			#foreach( $error in $actionErrors )
				<li>$error</li>
			#end
			</ul>
		#end
		
		<form method="get" action="../tab/save.action">
			<table align="center" border="0" cellpadding="5" cellspacing="1" width="98%" bgcolor="#000000">
				<tr>
					<td colspan="2" bgcolor="#333366"><span class="style1">Tab</span></td>
				</tr>
				<tr bgcolor="#ffffff">
					<td align="right" width="40%">Name<font color="red">*</font>:</td>
					<td><input name="tab.name" value="$!tab.name"/></td>
				</tr>
				<tr bgcolor="#ffffff">
				    <td align="right">Description:</td>
				    <td><input name="tab.description" value="$!tab.description"/></td>
			    </tr>
				<tr bgcolor="#ffffff">
					<td align="right">Table name<font color="red">*</font> :</td>
					<td><input type="textfield" id="tableDescription" value="$!tab.table.description" size="24" disabled="true" onfocus="this.blur()"/>
					<input type="hidden" id="tableId" name="table.id" value="$!tab.table.id">
				    <label><input type="button" value="Change" onclick="javascript:window.open('../gx-table/listTable.action','cats','scrollbars=yes,status=no,width=300,height=300')"/></label></td>
				</tr>
				<tr bgcolor="#A8FF93">
                    <td colspan="2" align="right" bgcolor="#CFE9EB">
                    	<input name="tab.id" type="hidden" value="$!tab.id"/>
                    	<input name="window.id" type="hidden" value="$!window.id"/>
                    	<input name="submit" onclick="return checkfields(this);" type="submit" value="Next &gt;&gt;">
                    </td>
				</tr>
			</table>
		</form>
		<br>
		#if($tab.id)
			#saction("name=edit" "namespace=/module/field" "executeResult=true")
		#end
		<br>
		#saction("name=listdetail" "namespace=/module/field" "executeResult=true")
	</body>
</html>