<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Form - Tab</title>
<link rel="stylesheet" type="text/css" href="../../style.css">
	    <style type="text/css">
<!--
.style1 {
	color: #FFFFFF;
	font-weight: bold;
}
-->
        </style>
</head>
	<body>
		<table align="center" border="0" cellpadding="5" cellspacing="1" width="98%" bgcolor="#000000">
			<tr>
				<td bgcolor="#333366"><span class="style1">Window</span></td>
			</tr>
			<tr bgcolor="#ffffff">
				<td>
					<a href="../window/edit.action?window.id=$!window.id"><img src="../../images/silk/page_edit.png" border="0"></a>
					<a href="../window/delete.action?window.id=$!window.id"><img src="../../images/silk/delete.png" border="0"></a>
					$!window.name
				</td>
			</tr>
		</table>
		<br>
		#if (!$actionErrors.isEmpty())
			<div class="errorMessage">Errors</div>
			<ul class="errorMessage">
			#foreach( $error in $actionErrors )
				<li>$error</li>
			#end
			</ul>
		#end
		#saction("name=create" "namespace=/module/tab" "executeResult=true")
		#if($tab.id)
		#saction("name=edit" "namespace=/module/field" "executeResult=true")
		#end
		#saction("name=listdetail" "namespace=/module/field" "executeResult=true")
	</body>
</html>