<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Form - Tab</title>
<link rel="stylesheet" type="text/css" href="../../style.css">
	    <style type="text/css">
<!--
.style1 {
	color: #FFFFFF;
	font-weight: bold;
}
.errorMessage {
	color: #FF0000;
}
-->
        </style>
</head>
	<body>
		<b>GX > <a href="../window/edit.action?window.id=$!window.id">$!window.name</a> > Tab </b>
		<br>

		<br>
		#if (!$actionErrors.isEmpty())
			<div class="errorMessage">Errors</div>
			<ul class="errorMessage">
			#foreach( $error in $actionErrors )
				<li>$error</li>
			#end
			</ul>
		#end
		#saction("name=create" "namespace=/module/tab" "executeResult=true")
		<br>
		#if($tab.id)
		#saction("name=edit" "namespace=/module/field" "executeResult=true")
		#end
		<br>
		#saction("name=listdetail" "namespace=/module/field" "executeResult=true")
	</body>
</html>