<html>
<title>Detail</title>
<body>

<table border="0"  width="100%"  cellspacing="0" cellpadding="0" bgcolor=#ffffff>

<tr><td align=left valign=top colspan=3>
<br><br>
	<table border="0" cellspacing="0" cellpadding="0" bgcolor=#ffffff>
	
	<br><br>
	
	<tr>
	
		<td align=left valign=top>
		<font size="6" color="#336699"> <b> $services.name</b> </font>
		<br><br>
		
			<a href=""> $services.detail</a> <br><br>
		<br>
		</td>
		<td width=5%>&nbsp;</td>
		</tr>
	
	</table>
</td></tr>	
</table>
</body>