<html>
<title>Page Collection</title>
<body>
<table border="0"  width="100%"  cellspacing="0" cellpadding="0" bgcolor=#ffffff>

<tr><td align=left valign=top colspan=3>
<br><br>
	<table border="0" cellspacing="0" cellpadding="0" bgcolor=#ffffff>
	<tr>
	#foreach( $key in $collection.keySet() )
	
		<td align=left valign=top>
		<font size="6" color="#336699"> <b> $key </b> </font>
		<br><br>
		
		#foreach( $subItem in $collection.get($key))
			<a href=$subItem.href> $subItem.title </a> <br>
			$subItem.abstract <br><br>
		#end    	
		<br>
		</td>
		<td width=5%>&nbsp;</td>
	#end
	</tr>	
	</table>
</td></tr>	
</table>
</body>