a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration:none;
	font-weight: normal;
	color: #000000;
}
a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration:none;
	font-weight: normal;
	color: #000000;
}
a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration:none;
	font-weight: normal;
	color: #FF0000;
}
.bulletbox {
	padding-top: 6px;
}
.h1navbottomleft {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #000000;
	padding-top: 2px;
	padding-left: 5px;
	padding-bottom: 3px;


}
.h1navtext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #000000;
	padding-left: 9.5px;
	padding-top: 2px;
	line-height: 18px;
}
.h1navtext:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration:none;
	font-weight: normal;
	color: #000000;
}
.h1navtext:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration:none;
	font-weight: normal;
	color: #FFFFFF;
}
.contentstext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #000000;
	padding-left: 9px;
}
.contentsmore {
	padding-right: 6px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #003366;
}
.contentsmore:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration:none;
	font-weight: bold;
	color: #003366;
}
.contentsmore:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration:none;
	font-weight: bold;
	color: #3399CC;
}
.contenthead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #003366;
}
.subimagetext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	padding-top: 17px;
	padding-left: 12px;
}
.subimagemore {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #FFFFFF;
	padding-right: 13px;
}
.contentpart {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	padding-top: 3px;
	padding-left: 9px;
}
.boxhead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #FFFFFF;
	padding-top: 2px;
	padding-left: 4px;
}
.search {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #006699;
}
.boxhot {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #000000;
	padding-top: 3px;
	padding-left: 3px;
}
.boxhot:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration:none;
	font-weight: bold;
	color: #000000;
}
.boxhot:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration:none;
	font-weight: bold;
	color: #006699;
}
.boxtext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #000000;
	padding-left: 3px;
	padding-top: 2px;
}
.boxtext:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration:none;
	font-weight: normal;
	color: #000000;
}
.boxtext:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration:none;
	font-weight: normal;
	color: #3399CC;
}
.boxmore {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #FFFFFF;
	padding-right: 4px;
	padding-top: 2px;
}
.boxmore:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #FFFFFF;
	padding-right: 4px;
	padding-top: 2px;
}
.boxmore:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #FFFFFF;
	padding-right: 4px;
	padding-top: 2px;
}

.boxbottomhead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #006699;
	padding-top: 2px;
	padding-left: 3px;
	padding-bottom: 2px;

}
.bulletbox3space {
	padding-top: 6px;
	padding-left: 3px;
}
.linkOVier {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	padding-top: 13px;
	padding-left: 10px;
}
.copyrights {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #000000;
}
.links {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #006699;
	padding-top: 10px;
	padding-left: 10px;
}
.linksbig {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #006699;
}
.linksbig:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #006699;
}
.linksbig:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000033;
}
