<html>
<head>
<title>Ruang Kerja Warintek - Hasil Pencarian Penulis</title>
<link rel="stylesheet" type="text/css" href="../decorators/tables.css">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="AUTHOR" content="Harry">
</head>
<body>
<form name="filterModuleFunction" method="post" action="searchModuleFunction.action">
<table border="0" cellspacing="0" cellpadding="5" width="70%">
 <tr>
    <td id="tableHeader1" colspan=2>Module Function Search</td>
  </tr>
  <tr >
    <td width="200">Keyword:</td>
    <td><input type="text" name="name" maxlength="20" value="$!name" size="30"></td>
  </tr>
    <tr id=tableHeader1>
    <td colspan=2><input type="submit" value="Search">&nbsp;&nbsp;<input type="reset" value="Reset"></td>
  </tr>
	
	 

<p>#if ($moduleFunctions.isEmpty()) 
	<tr id="tableHeader2">
	<td colspan="6">
	Data Not Found
#else

 	<tr id="tableHeader2">
	<td colspan="6">
	Found <strong>$!resultRows()</strong> #if ($resultRows > 1) Module Function #else Module Functions #end</p>
    <tr id="tableHeader2">
	<td colspan="6">
    #if ($currPage > 0) <a href="searchModuleFunction.action?name=$name&currPage=0">&lt;&lt;</a>&nbsp;#end
	#if ($currPage > 0) <a href="searchModuleFunction.action?name=$name&currPage=$prevPage">&lt;</a>&nbsp;#end
	[page $currPage]
	#if ($currPage < $maxPage) <a href="searchModuleFunction.action?name=$name&currPage=$nextPage">&gt;</a>&nbsp;#end
	#if ($currPage < $maxPage) <a href="searchModuleFunction.action?name=$name&currPage=$maxPage">&gt;&gt;</a>&nbsp;#end



<table border="0" cellspacing="0" cellpadding="5">

<tr id="tableHeader1">
		<td>Name</td>
		<td>Description</td>
		<td>Table References</td>
</tr>

#foreach ($moduleFunction in $moduleFunctions)

<tr valign="top">
	<td><strong><a href="viewModuleFunction.action?id=$moduleFunction.Id">$!moduleFunction.name</a></strong>&nbsp;</td>
	<td>$!moduleFunction.description</td>
	<td>$!moduleFunction.tableReferences</td>
</tr>
#end
</table>
#end
</body>
</html>
