<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Role Site List</title>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <meta name="GENERATOR" content="Quanta Plus">
<link type="text/css" rel="stylesheet" href="../../style.css">

</head>
<body>

<form method="post" actions="SiteList.action">
<table bgcolor="gray" border="0" cellpadding="5" cellspacing="1" width="98%">
<tbody>
	<tr bgcolor="#d0dcff">
		<td colspan='3'><strong>Role Site List</strong></td>
	</tr>
	<tr bgcolor="#d0dcff">
		<td style="font-weight:  bold;" align="center">Name</td>
		<td style="font-weight:  bold;" align="center">Description</td>
		<td style="font-weight:  bold;" align="center">Status</td>
	</tr>
#foreach ($list in $roles)
			<tr valign="top" bgcolor="white">
				<td>$!list.Name</a></td>
				<td>$!list.Description</a></td>
				<td align="center"><a href="sitelist.action?role.id=$!list.id" title="View Role Site"><img src="../../images/silk/application_view_list.png" border="0"></a></td>
			</tr>
			#end
</tbody>
</table>
</html>