<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Workspace Management - Edit a new Template</title>
  <link type="text/css" rel="stylesheet" href="../../style.css">
  <script type="text/javascript">
  _editor_url = "../../htmlarea/";
  _editor_lang = "en";
</script>

<script type="text/javascript" src="../../htmlarea/htmlarea.js"></script>
</head>

<body onload="HTMLArea.replaceAll();libinit()">
#if (!$actionErrors.isEmpty())
<div class="errorMessage">Errors</div>
<ul class="errorMessage">
#foreach( $error in $actionErrors ) <li>$error</li>
#end
</ul>
#end

<form method="post" action="update.action" name="upload" enctype="multipart/form-data" > 
<table bgcolor="gray" border="0" cellpadding="5" cellspacing="1" width="98%">
  <tbody>
  <tr bgcolor="#d0dcff">
    <td colspan='3'><strong>Edit Template</strong></td>
  </tr>
  <tr bgcolor="#ffffff">
    <td style="font-weight: bold;" align="right" valign="top" width=25%><font color="RED">*</font>
    Name:
    </td>
    <td><input type="text" name="name" maxlength="125" value="$!template.name" size="50%"></td>
  	
  </tr>
  <tr bgcolor="#ffffff">
    <td style="font-weight: bold;" align="right" valign="top">Descriptor:</td>
    <td>
	<input type="textfield" id="DescriptorDescription" value="$!template.templateDescriptor.description" size="35" disabled="true" onfocus="this.blur()"/>
    <input type="hidden" id="descriptor_id" name="descriptor_id" value="$!template.templateDescriptor.id"/>
    &nbsp;&nbsp;
    <input type="button" value="Change" onclick="javascript:window.open('listDescriptor.action','cats','scrollbars=yes,status=no,width=300,height=300')"/>
   	&nbsp;&nbsp;
    <a href="../descriptor/edit.action?id=$template.templateDescriptor.id">edit</a>
   	</td>
  	
  </tr>
  <tr bgcolor="#ffffff">
  	<td style="font-weight: bold;" align="right" valign="top">Folder:</td>
    <td><input name="folder" maxlength="15" value="$!template.Folder" size="50%"></td>
    
	</tr>
  <tr bgcolor="#ffffff">
  	<td style="font-weight: bold;" align="right" valign="top">Url xsl template:</td>
    <td><input name="url_xsl_template" value="$!template.Url_xsl_template" size="50%"></td>
    
	</tr>

  <tr bgcolor="#ffffff"> 
    <td style="font-weight: bold;" align="right" valign="top"><font color="RED">*</font>
    Description:
    </td>
    <td>
  	<textarea name="description" style="width: 110%" rows="15" cols="80">$!template.description</textarea>
	</td>
  	
  </tr>
    
  <tr bgcolor="#d0dcff">
  <td colspan=3> 
	<input type="hidden" name="id" value="$id">
	<input type="submit" name="Submit" value="Update">&nbsp;&nbsp;
	<input type="reset" name="Clear">
  </td>
  </tr>
  </tbody>
</table>
</form>
</body>
</html>
