<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Workspace Management - View Template Object</title>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <meta name="GENERATOR" content="Quanta Plus">
  <meta name="AUTHOR" content="Umar">
  <link type="text/css" rel="stylesheet" href="../../style.css">
</head>
<body>
<table bgcolor="gray" border="0" cellpadding="5" cellspacing="1" width="98%">
  <tbody>
	<tr bgcolor="#d0dcff">
        <td colspan="7"><b>View Template Object</b></td>
      </tr>
	<tr bgcolor="#e4e4e4" width="98%">
	
	<td id="tableHeader2"><b>Template Skin</b></td>
	<td id="tableHeader2"><b>Theme</b></td>
	<td id="tableHeader2"><b>Description</b></td>
	<td id="tableHeader2"><b>Action</b></td>
	</tr>
	<tr bgcolor="white">
      <td><a href="edit.action?id=$object.Id">$!object.template_skin</a></td>
      <td><a href="edit.action?id=$object.Id">$!object.theme.name</a></td>
      <td><a href="edit.action?id=$object.Id">$!object.Description</a></td>
      <td id="tableHeader2" colspan="2"><a href="edit.action?id=$object.Id">Edit</a> &nbsp;
		<a href="confirmDelete.action?id=$object.Id">Del</a></td>
	
	</tr>
    </tbody>
</table>
</body>
</html>
