<html>
<head>
<title>Update password Employee - Form</title>	
<link type="text/css" rel="stylesheet" href="../../style.css" >
	    <style type="text/css">
<!--
.style1 {
	color: #FFFFFF;
	font-weight: bold;
}
-->
        </style>
</head>
	<body>
		#if(!$actionErrors.isEmpty())
			<div class="errorMessage">Error</div>
			<ul class="errorMessage">
				#foreach($error in $actionErrors)
					<li>$error</li>
				#end
			</ul>
		#end
		<form action="update.action" method="post">
			<table width="59%" align="center" cellpadding="3" cellspacing="1" bgcolor="#000000">
				<tr bgcolor="#000000">
					<th colspan="10" bgcolor="#d0dcff">
						<span class="style1"><font color="#000000"> Update Password Employee</font> </span> </th>
				</tr>
				<tr bgcolor="#ffffff">
					<td bgcolor="#FFFFFF">
						Old Password :					</td>
					<td bgcolor="#FFFFFF">
						<input name="currPassword" type="password">
				  </td>
				</tr>
				<tr bgcolor="#ffffff">
					<td bgcolor="#FFFFFF">
						New Password :					</td>
					<td bgcolor="#FFFFFF">
						<input name="newPassword" type="password">
				  </td>
				</tr>
				<tr bgcolor="#ffffff">
					<td bgcolor="#FFFFFF">
						Verify New Password :					</td>
					<td bgcolor="#FFFFFF">
						<input name="verifyPassword" type="password">
				  </td>
				</tr>
				<tr bgcolor="#ffffff">
					<td colspan="2" bgcolor="#e4e4e4">
				  <input type="submit" value="Submit"> <input type="reset" value="Reset"></td>
				</tr>
		  </table>	
		</form>
		
		
	</body>
</html>