<!--<%@ taglib uri = "webwork" prefix = "ww" %>-->
<html>
	<head>
		<title>Search - Gxform</title>
		<link rel="stylesheet" type="text/css" href="../../style.css">
	    <style type="text/css">
<!--
.style1 {
	color: #FFFFFF;
	font-weight: bold;
}
-->
        </style>
</head>
	<body>
		#if (!$actionErrors.isEmpty())
			<div class="errorMessage">Errors</div>
			<ul class="errorMessage">
			#foreach( $error in $actionErrors )
				<li>$error</li>
			#end
			</ul>
		#end
		<br><Br>
		<form method="get" action="search.action">
			<table align="center" border="0" cellpadding="5" cellspacing="1" width="70%" bgcolor="#000000">
				<tr bgcolor="#8FEC13">
					<td colspan="2" bgcolor="#333366"><span class="style1">Search Gxform</span></td>
				</tr>
				<tr bgcolor="#ffffff">
					<td align="right" width="40%">Name :</td>
					<td>
						<input name="gxform.name" value="$!gxform.name"/>
					</td>
				</tr>
				
				<tr bgcolor="#ffffff">
					<td align="right">Gxform name :</td>
					<td>
						<input name="gxform.gxformName" value="$!gxform.gxformName"/>
					</td>
				</tr>
				<tr bgcolor="#A8FF93">
					<td colspan="2" align="right" bgcolor="#CFE9EB">
						<input type="submit" value="Submit"/>
				  </td>
				</tr>
			</table>
		</form>
		<br>
		<!--<table align="center" bgcolor="gray" border="0" cellpadding="5" cellspacing="1" width="70%">
		  	<tr bgcolor="#ffff88">
				<td align="center"><a href="../form.action"><b>[Home]</b></a></td>
			</tr>
		</table>-->
	</body>
</html>