<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Gxform Detail</title>
 <link rel="stylesheet" type="text/css" href="../../style.css">
  <style type="text/css">
<!--
.style1 {
	color: #FFFFFF;
	font-weight: bold;
}
-->
  </style>
</head>

#if (!$gxgreenator.actionErrors.isEmpty())
			<ul class="errorMessage">
			#foreach( $gxgreenatorerror in $gxgreenator.actionErrors )
				<li>$gxgreenator.error</li>
			#end
			</ul>
		#end

<body onload="HTMLArea.replaceAll();"><Br>
<form method="post" action="../gxgreenator/add.action">
<table align="center" bgcolor="gray" border="0" cellpadding="5" cellspacing="1" width="98%">
  <tbody>
	<tr bgcolor="#8FEC13">
    	<td colspan="2" bgcolor="#333366" id="tableHeader1"><span class="style1">Gxform - Form Detail</span></td>
  	</tr>
    <tr bgcolor="#ffffff">
     	<td align="right" width="40%" id="tableHeader2">Name    :</td>
     	<td>$!gxform.name  </td>
    </tr bgcolor="#ffffff">
	<tr bgcolor="#ffffff">
		<td align="right" id="tableHeader2">Gxform Name  : </td>
		<td>$!gxform.gxformName</td>
	</tr>
	<tr bgcolor="#ffffff">
		<td align="right" id="tableHeader2">Table Name  : </td>
		<td>$!gxform.table.name</td>
	</tr>
	<tr bgcolor="#A8FF93">
		<td colspan="2" align="right" bgcolor="#CFE9EB" id="tableHeader2"><a href="../generate/edit.action?id=$!gxform.id">Edit</a> <b>|</b><a href="../generate/confirm.action?id=$gxform.Id">Delete</a> <b>|</b> 
		<a href="../generate/gen.action?id=$!gxform.id"><b><font color="red">Generate</font></b></a>    </tr>
  </tbody>
</table>
  	<br>
<table align="center" bgcolor="gray" border="0" cellpadding="5" cellspacing="1" width="98%">
	<tbody>
		<tr bgcolor="#333366">
			<td><span class="style1">Column Name</span></td>
			<td><span class="style1">Data Type</span></td>
			<td><span class="style1">Label</span></td>
			<td><span class="style1">Default Value</span></td>
			<td><span class="style1">Field Type</span></td>
		</tr>
		<form action="../gxgreenator/add.action" method="post">
		#foreach($c in $gxform.table.columns)
			<tr bgcolor="#ffffff">
				<td>$c.name</td>
				<td>$c.dataType.value</td>
				<td><input id="name" name="names" value=""/></td>
				<td><input id="defaultValue" name="defaultValues" value=""/></td>
				<td>
					<select id="fieldType" name="fieldTypes">
					#foreach($f in $fieldTypes)
						<option value="$!f.id">$!f.value</option>
					#end		
					</select>
					<input type="hidden" id="columnId" name="columnIds" value="$c.id">
				</td>
			</tr>
		#end
		<tr bgcolor="#A8FF93">
			<td colspan="6" align="right" bgcolor="#CFE9EB" id=tableHeader1>
				<input type="hidden" name="gxform.id" value="$!gxform.id">
	      		<input type="submit" value="Submit"> 
	      		<input type="reset" value="Reset"> 
	      		
		  </td>
		</tr>
		</form>
	</tbody>
</table>
<br>
	
#if(!$gxform.greenators.isEmpty())
<table align="center" bgcolor="gray" border="0" cellpadding="5" cellspacing="1" width="98%">
	<tbody>
		<tr bgcolor="#333366">
			<td><span class="style1">Column Name</span></td>
			<td><span class="style1">Data Type</span></td>
			<td><span class="style1">Label</span></td>
			<td><span class="style1">Default Value</span></td>
			<td><span class="style1">Field Type</span></td>
		</tr>
		#foreach($c in $gxform.greenators)
			<tr bgcolor="#ffffff">
				<td>$!c.column.name</td>
				<td>$!c.column.dataType.value</td>
				<td>$!c.name</td>
				<td>$!c.gxgreenatorName</td>
				<td>$!c.type.value</td>
			</tr>
		#end
	</tbody>
</table>
#end
</body>
</html>
    
