<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!--<%@ taglib uri = "webwork" prefix = "ww" %>-->
<html>
	<head>
		<title>Delete - Gxform</title>
		<link rel="stylesheet" type="text/css" href="../../style.css">
	    <style type="text/css">
<!--
.style1 {
	color: #FFFFFF;
	font-weight: bold;
}
-->
        </style>
</head>
	<body>
	<br><br>
		<form method="get" action="delete.action">
			<table align="center" border="0" cellpadding="5" cellspacing="1" width="80%" bgcolor="#000000">
				<tr bgcolor="#8FEC13">
					<td bgcolor="#333366"><span class="style1">Delete Gxform</span></td>
				</tr>
				<tr bgcolor="#ffffff">
					<td align="center">Delete form <b>$gxform.name</b> ???</td> 
				</tr>
				<tr bgcolor="#A8FF93">
					<td align="right" bgcolor="#CFE9EB">
						<input name="id" type="hidden" value="$gxform.id"/>
						<input name="confirm" type="submit" value="Yes"/>
						<input name="confirm" type="submit" value="No"/>
				  </td>
				</tr>
			</table>
		</form>
		<br>
		<table align="center" bgcolor="gray" border="0" cellpadding="5" cellspacing="1" width="80%">
		  	<tr bgcolor="#C1C1FF">
				<td align="center"><!--<a href="../form.action"><b>[Home]</b></a>-->
				<a href="../generate/filter.action"><b>[Back]</b></a></td>
			</tr>
		</table>
	</body>
</html>