  #if(!$window.tabs.isEmpty())
  <table align="center" bgcolor="gray" border="0" cellpadding="5" cellspacing="1" width="98%">
    <tbody>
		<tr>
			<td colspan="3" bgcolor="#333366"><span class="style1">Tab</span></td>
		</tr>
	<tr id="tableHeader1" bgcolor="#CFE9EB"> 
    	<td>Name</td>
    	<td>Description</td>
    	<td>Action</td>
  	</tr>
  #foreach ($de in $window.tabs) 
  <tr valign="top" bgcolor="#ffffff"> 
    <td>$!de.name</td>
    <td>$!de.description</td>
    <td>

    	<a href="edit.action?window.id=$!window.id&tab.id=$!de.id"><img src="../../images/silk/page_edit.png" alt="Edit Tab Record" border="0"></a> 
        <a href="delete.action?window.id=$!window.id&tab.id=$!de.id"><img src="../../images/silk/delete.png" alt="Delete Tab Record" border="0"></a>
          <a href="../tab/edit.action?window.id=$!window.id&tab.id=$!de.id"><img src="../../images/silk/application_view_list.png" alt="Form Field" border="0"></a>
    </td>
  </tr>
  #end 
  </tbody>
  </table>
  #end
  