<html>
<head>
<title>Ruang Kerja Warintek - Cari Role</title>

</head>
<body>
<form method="get" action="search_privilage.action">
<table border="0" cellspacing="0" cellpadding="5" valign="top" width="70%">
  <tr>
    <td id="tableHeader1" colspan=2>Cari Role</td>
  </tr>
  <tr>
    <td width="200">Nama:</td>
    <td><input type="text" name="name" value="$!name">
    </td>
  </tr>
  <tr >
    <td>Diskripsi:</td>
    <td><input type="text" name="description" value="$!description">
    </td>
  </tr>
  <table border="0" cellspacing="0" cellpadding="5">
  <tr id="tableHeader1">
  <td colspan="2">
  <input type="submit" value="cari">
<input type="reset" name="reset">

  </td>
  </tr>
 </table>
  <p>#if ($roles.isEmpty()) Data tidak ditemukan
#else
Ditemukan <strong>$roles.size()</strong> #if ($roles.size()>1) role #else role #end
</p>
<p>
  <table border="0" cellspacing="0" cellpadding="5">
<tr id="tableHeader1">
	<td>&nbsp;</td>
	<td>Nama</td>
	<td>Penjelasan</td>
	 

</tr>


#foreach ($role in $roles)
<tr valign="top">
	<td><a href="view_privilage.action?id=$role.Id" name="View Detail">v</a>&nbsp;<a href="edit.action?id=$role.Id" name="Edit">e</a>&nbsp;<a href="confirmDelete.action?id=$role.Id" name="Delete">d</a></td>
	<td>$!role.name</td>
	<td>$!role.description</td>
</tr>

#end
</table>
#end

</table>

</form>
</body>
</html>
