<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!--<%@ taglib uri = "webwork" prefix = "ww" %>-->
<html>
	<head>
		<title>Search - Droplist</title>
		<link rel="stylesheet" type="text/css" href="../../style.css">
	</head>
	<body>
		#if (!$actionErrors.isEmpty())
			<div class="errorMessage">Errors</div>
			<ul class="errorMessage">
			#foreach( $error in $actionErrors )
				<li>$error</li>
			#end
			</ul>
		#end
		
		<form method="get" action="search.action">
			
  <table border="0" cellpadding="5" cellspacing="1" width="98%" bgcolor="#000000">
    <tr bgcolor="#d0dcff"> 
      <td colspan="2">Search Droplist Name &amp; Value</td>
    </tr>
    <tr bgcolor="#ffffff"> 
      <td>Name :</td>
      <td><input name="droplist.name" value="$!droplist.name"/> </td>
    </tr>
	<tr bgcolor="#ffffff"> 
      <td>Desription :</td>
      <td><input name="droplist.descname" value="$!droplist.descname"/> </td>
    </tr>
    <tr bgcolor="#ffffff"> 
      <td>Value :</td>
      <td> <input name="droplist.value" value="$!droplist.value"/> 
      </td>
    </tr>
	<tr bgcolor="#ffffff"> 
      <td>Description :</td>
      <td> <input name="droplist.descvalue" value="$!droplist.descvalue"/> 
      </td>
    </tr>	
    <tr  bgcolor="#e4e4e4"> 
      <td align="right" height="35" colspan="2"> <input type="submit" value="Search"/> </td>
    </tr>
    <!--tr bgcolor="#ffffff"> 
      <td colspan="2"><a href="../form.action">Home</a></td>
    </tr-->
  </table>
		</form>
	</body>
</html>