<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Workspace Management - Search Descriptor Group</title>
  <link type="text/css" rel="stylesheet" href="../../style.css">
</head>
<body>
<form name="filterDescriptor" method="post" action="search.action">
<table bgcolor="gray" border="0" cellpadding="5" cellspacing="1" width="98%">
      <tr bgcolor="#d0dcff">
        <td colspan="3"><b>Search Descriptor Group</b></td>
      </tr>

      <tr bgcolor="#ffffff">
        <td style="font-weight: bold;" align="right" width="25%">
        	Group ID:
        </td>
        <td width="75%"><input maxlength="128" name="groupId" size="25" value="$!groupId"></td>
        <td align="right" valign="top"><img alt="Name of The Descriptor" src="../../images/help.gif" border="0"></td>
      </tr>
      <tr bgcolor="#ffffff">
        <td style="font-weight: bold;" align="right" width="25%">
        	Folder:
        	</td>
        <td width="75%"><input maxlength="128" name="folder" size="25" value="$!folder"></td>
        <td align="right" valign="top"><img alt="Name of The Descriptor" src="../../images/help.gif" border="0"></td>
      </tr>
      <tr bgcolor="#ffffff">
        <td style="font-weight: bold;" align="right" valign="top">Description:</td>
        <td>
        	<input maxlength="128" name="description" value="$!description" size="25" >
         </td>
        <td align="right" valign="top"><img alt="Description of The Descriptor" src="../../images/help.gif" style="border: 0px solid ; width: 16px; height: 16px;"></td>
      </tr>
      <tr bgcolor="#ffffff">
        <td style="font-weight: bold;" align="right" valign="top">Active:</td>
        <td><input name="activeFlag" value="1" type="radio">Yes<br><input name="activeFlag" value="0" type="radio">No
        </td>
        <td align="right" valign="top"><img alt="Status of Descriptor" src="../../images/help.gif"  style="border: 0px solid ; width: 16px; height: 16px;"></td>
      </tr>
      <tr bgcolor="#d0dcff">
        <td colspan="3"><input name="Submit" value="Search" type="submit">&nbsp;&nbsp;
        <input name="Clear" value="Reset" type="reset"> </td>
      </tr>
  
</table>
	
</body>

</html>
