<html>
	<head>
		<title>
			Error
		</title>
	</head>
	<body>
		<table align="center" width="90%" bgcolor="#888888" cellspacing="1" cellpadding="5">
			<th>
				<td bgcolor="#d0dcff">
					Error
				</td>
			</th>
			<tr>
				<td bgcolor="#ffffff">
					<ul class="errorList">
						<li>
							#foreach ($actionError in $actionErrors)        
								$actionError
							#end  
						</li>
					</ul>
				</td>      
			</tr>
		</table>		
	</body>
</html>
