<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!--<%@ taglib uri = "webwork" prefix = "ww" %>-->
<html>
	<head>
		<title>Search - Droplist</title>
		<link rel="stylesheet" type="text/css" href="../../style.css">
	</head>
	<body>
		
		<form method="get" action="search.action">
			
  <table border="0" cellpadding="5" cellspacing="1" width="98%" bgcolor="#000000">
    <tr bgcolor="#d0dcff"> 
      <td colspan="2">Search Droplist Name &amp; Value</td>
    </tr>
    <tr bgcolor="#ffffff"> 
      <td>Name :</td>
      <td><input name="name.name" value="$!name.name"/> </td>
    </tr>
	<tr bgcolor="#ffffff"> 
      <td>Desription :</td>
      <td><input name="name.description" value="$!name.description"/> </td>
    </tr>
    <tr  bgcolor="#e4e4e4"> 
      <td align="right" height="35" colspan="2"> <input type="submit" value="Search"/> </td>
    </tr>
  </table>
		</form>
	</body>
</html>