<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Workspace Management - Search Descriptor</title>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <meta name="GENERATOR" content="Quanta Plus">
</head>
<body>
<form name="filterDescriptor" method="post" action="search.action">
<table border="0" cellspacing="5" cellpadding="5">
  <tr>
    <td>Name</td>
    <td><input type="text" name="name" value="$!name">
    </td>
  </tr>
  <tr>
  	<td>Description</td>
  	<td><input type="text" name="description" value="$!description">
  	</td>
  </tr>
  <tr>
  	<td>URL Action</td>
	<td><input type="text" name="urlAction" value="$!urlAction"></td>
  </tr>
  <tr>
  	<td>URL Descriptor</td>
	<td><input type="text" name="urlDescriptor" value="$!urlDescriptor"></td>
  </tr>
  <tr>
    <td>Descriptor Flag</td>
    <td><input type="radio" name="descriptorFlag" value=1> yes
    <br><input type="radio" name="descriptorFlag" value=0> no
    </td>
  </tr>
  <tr>
    <td>Type Flag</td>
    <td><input type="radio" name="typeFlag" value=1> yes
    <br><input type="radio" name="typeFlag" value=0> no
    </td>
  </tr>
  <tr>
    <td>Active Flag</td>
    <td><input type="radio" name="activeFlag" value=1> active
    <br><input type="radio" name="activeFlag" value=0> inactive
    </td>
  </tr>
  <tr>
    <td colspan=2><input type="submit" value="Search"><input type="reset" value="Reset"></td>
  </tr>
</table>
	
</body>

</html>
