<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!--<%@ taglib uri = "webwork" prefix = "ww" %>-->
<html>
<head>
  <title>new - Module Detail</title>
  <link rel="stylesheet" type="text/css" href="../decorators/tables.css">
</head>
<body>
#if (!$actionErrors.isEmpty())
<div class="errorMessage">Errors</div>
<ul class="errorMessage">
#foreach( $error in $actionErrors )
<li>$error</li>
 #end
</ul>
#end

<form method="post" action="addModuleDetail.action" name="upload" enctype="multipart/form-data"> 
<table width="75%" border="0" cellspacing="5" cellpadding="5">
  <tr >
    <td id="tableHeader1" colspan="2">Module Detail</td>
  </tr>
  
    <tr>
    <td width="100">Name:<font color="RED">*</font></td>
    <td><input type="text" name="name" maxlength="20" value="$!name" size="30"></td>
  </tr>
  <tr>
    <td width="100">Description:</td>
    <td><input type="text" name="description" maxlength="20" value="$!description" size="30"></td>
  </tr>
   <tr>
    <td width="100">Thread Master ID:</td>
    <td>
    #if ($moduleFunction.id)
    <input type="textfield" id="moduleFunctionId" value="$moduleFunction.Id" size="15" disabled="true" onfocus="this.blur()"/>
    <input type="hidden" id="moduleFunctionId" name="moduleFunction.id" value="moduleFunction.id"/>
    #else
    <input type="textfield" id="moduleFunctionId" value="None" size="15" disabled="true" onfocus="this.blur()"/>
     <input type="hidden" id="moduleFunctionId" name="moduleFunction.id" value="0"/>
     #end
    
    &nbsp;&nbsp;<input type="button" value="Change" onclick="javascript:window.open('../module/listThreadNumber.action','cats','scrollbars=yes,status=no,width=300,height=300')"/>
    </td>
  </tr>
  
 
  <tr>
    <td>Descriptor</td><td>
	<input type="textfield" id="moduleDescriptorDescription" value="None" size="15" disabled="true" onfocus="this.blur()"/>
    <input type="hidden" id="moduleDescriptorId" name="moduleDescriptorId" value="0"/>
    &nbsp;&nbsp;<input type="button" value="Change" onclick="javascript:window.open('../module/listModuleDescriptor.action','cats','scrollbars=yes,status=no,width=300,height=300')"/>
  	</td>
  </tr>
  
  <tr>
  	<td>Table References:</td>
    <td><input type="text" name="tableReferences" value="$!tableReferences" size="30"></td>
  </tr>
   <tr>
  	<td>View All:</td>
  		<td>
  	<input type="radio" name="viewActive" value=1 checked> Yes<br>
  	<input type="radio" name="viewActive" value=0 > No
  	</td>
  </tr>
 
 
  

  <tr width="100%">
  <td id=tableHeader1 colspan="2"> <input type="hidden" name="id" value="$id">
<input type="submit" name="Submit" value="Submit" onClick="doUpload()">
<input type="reset" name="Clear">
</td>
  </tr>
  </table>
  
   <table border="2" cellspacing="0" cellpadding="5">

  <tr id="tableHeader1">
		<td>Name</td>
		<td>Description</td>
		<td>Table References</td>
		<td>Descriptor Description</td>
		
  </tr>
  #foreach ($moduleFunction in $moduleFunctions)

    <tr valign="top">
	<td><strong><a href="viewModuleFunction.action?id=$moduleFunction.moduleDescriptorId">$!moduleFunction.name</a></strong>&nbsp;</td>
	<td>$!moduleFunction.description</td>
	<td>$!moduleFunction.tableReferences</td>
    <td>$!moduleFunction.moduleDescriptor.description</td>
 	<td><strong><a href="removeModuleFunction.action?opportunityProductId=$opportunityProduct.id&opportunityId=$opportunity.id">[remove]</a></strong>&nbsp;
    <strong><a href="editOpportunityProduct.action?opportunityProductId=$opportunityProduct.id&opportunityId=$opportunity.id">[edit]</a></strong>&nbsp;</td>
  </tr>
  #end
  </table>
  
</form>

<p>&nbsp;</p>

</body>
</html>