<link rel="stylesheet" type="text/css" href="../../style.css">
	    <style type="text/css">
<!--
.style1 {
	color: #FFFFFF;
	font-weight: bold;
}
-->
        </style>
#if (!$actionErrors.isEmpty())
			<div class="errorMessage">Error</div>
			<ul class="errorMessage">
			#foreach( $error in $actionErrors )
				<li>$error</li>
			#end
			</ul>
		#end
<table align="center" bgcolor="gray" border="0" cellpadding="5" cellspacing="1" width="98%">
	<tbody>
		<form action="../field/save.action" method="get">
		<tr>
			<td colspan="2" bgcolor="#333366"><span class="style1">Field</span></td>
		</tr>
		<tr bgcolor="#ffffff">
			<td align="right" >Name:</td>
			<td><input name="field.name" value="$!field.name"/></td>
		</tr>
		<tr bgcolor="#ffffff">
			<td align="right" >Description:</td>
			<td><input name="field.description" value="$!field.description"/></td>
		</tr>
		<tr bgcolor="#ffffff">
			<td align="right" >Field Type</td>
			<td>
				<select name="fieldType.id">
				#foreach($f in $fieldTypes.values)
					<option value="$!f.id">$!f.value</option>
				#end		
				</select>
			</td>
		</tr>
		<tr bgcolor="#ffffff">
			<td align="right" >Column</td>
			<td>
				<select name="column.id">
				#foreach($f in $tab.table.columns)
					<option value="$!f.id">$!f.name</option>
				#end		
				</select>
			</td>
		</tr>
		<tr bgcolor="#A8FF93">
			<td colspan="2" align="right" bgcolor="#CFE9EB">
				<input type="hidden" name="field.id" value="$!field.id">
				<input type="hidden" name="tab.id" value="$!tab.id">
	      		<input type="submit" value="Submit"> 
	      		<input type="reset" value="Reset"> 
		  </td>
		</tr>
		</form>
	</tbody>
</table>