	<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
	<html>
		<head>
			<title>Form - Droplist</title>
			<link rel="stylesheet" type="text/css" href="../../style.css">
		</head>
		<body>
			#if (!$actionErrors.isEmpty())
				<div class="errorMessage">Errors</div>
				<ul class="errorMessage">
				#foreach( $error in $actionErrors )
					<li>$error</li>
				#end
				</ul>
			#end
			
			<form method="get" action="save.action">
				<table border="0" cellpadding="5" cellspacing="1" width="98%" bgcolor="#000000">
					<tr bgcolor="#d0dcff">
						<td colspan="2"><b>Add / Edit Droplist</b></td>
					</tr>
					<tr bgcolor="#ffffff">
						<td>Name: <font color="red">*</font></td>
						<td>
							<input name="name.name" value="$!name.name"/>
						</td>
						</td>
					</tr>
					<tr bgcolor="#ffffff">
						<td>Description:</td>
						<td>
							<input name="name.description" value="$!name.description"/>
						</td>
					</tr>
					<tr bgcolor="#ffffff">
					<td>Parent:</td>
					<td>
						<select name="parent.id">
							<option value=""></option>
							#foreach($ct in $names)
							<option value="$!ct.id" #if($ct.id == $name.parent.id)selected#end>$!ct.description</option>
							#end
						</select>
					</td>
					</tr>
					<tr bgcolor="#e4e4e4">
						<td colspan="2">
							<input type="submit" value="Submit"/>
							<input name="name.id" type="hidden" value="$!name.id"/>
						</td>
					</tr>
				</table>
			</form>
			<br>
		#if($name.values)		
		<table border="0" cellpadding="5" cellspacing="1" width="98%" bgcolor="#000000">
			<tr bgcolor="#d0dcff">
				<td colspan="3"><b>Droplist Value</b></td>
			</tr>
			<tr bgcolor="#ffff00">
				<td>Value</td>
				<td>Description</td>
				<td>Action</td>
			</tr>
			#foreach($dl in $name.values)
				#if(!$dl.id.equals($value.id))
				<tr bgcolor="#ffffff">
					<td>$!dl.value</td>
					<td>$!dl.description</td>
					<td>
						<a href="editvalue.action?name.id=$!name.id&value.id=$!dl.id"><img src="../../images/silk/page_edit.png" border="0"></a>
					</td>
				</tr>
				#else
				<form action="savevalue.action" method="get">
					<tr bgcolor="#ffffff">
						<td>
							<input name="value.value" value="$!value.value"/> <font color="#ff0000">*</font>
						</td>
						<td>
							<input name="value.description" value="$!value.description"/>
						</td>
						<td>
							<input name="name.id" type="hidden" value="$!name.id"/>
							<input name="value.id" type="hidden" value="$!dl.id"/>
							<input type="submit" value="Submit">
						</td>
					</tr>
				</form>
				#end
			#end
			#if(!$value.id)
			<form action="savevalue.action" method="get">
				<tr bgcolor="#ffffff">
					<td>
						<input name="value.value" value="$!value.value"/> <font color="#ff0000">*</font>
					</td>
					<td>
						<input name="value.description" value="$!value.description"/>
					</td>
					<td>
						<input name="name.id" type="hidden" value="$!name.id"/>
						<input type="submit" value="Submit">
					</td>
				</tr>
			</form>
			#end
		</table>
		#end
		</body>
	</html>