<html>
<head>
<title>Ruang Kerja Warintek - List Module Function</title>
<link rel="stylesheet" type="text/css" href="../decorators/tables.css">
</head>
<body>

<p>#if ($moduleFunctions.isEmpty())Data tidak ditemukan
#else Ditemukan <strong>$moduleFunctions.size()</strong> #if ($moduleFunctions.size()>1) Module Function #else Module Functions #end
</p>

<table border="0" cellspacing="0" cellpadding="5" width="70%">
<tr>
    <td id="tableHeader1" colspan=2>list Module Function</td>
  </tr>
  
  
    <table border="2" cellspacing="0" cellpadding="5">
    
     <tr>
	  <td id="tableHeader2" colspan="2"><b><a href="createModuleFunction.action">[Back]</a></b></td>
</tr>

  <tr id="tableHeader1">
		<td>Name</td>
		<td>Description</td>
		<td>Table References</td>
		<td>Descriptor Description</td>
		
  </tr>
   
  
 
#foreach ($moduleFunction in $moduleFunctions)
	<tr valign="top">
	<td><a href="viewModuleFunction.action?id=$moduleFunction.Id">$!moduleFunction.name</a><br>
	<td>$!moduleFunction.description</td>
	<td>$!moduleFunction.tableReferences</td>
	<td>$!moduleFunction.moduleDescriptor.description</td>
	</tr>
#end
</table>

#end

</body>
</html>
