<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Workspace Management - View Descriptor Detail</title>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <meta name="GENERATOR" content="Quanta Plus">
  <meta name="AUTHOR" content="Umar">
  <link type="text/css" rel="stylesheet" href="../../style.css">
</head>
<body>
<table bgcolor="gray" border="0" cellpadding="5" cellspacing="1" width="98%">
  <tbody>
	<tr bgcolor="#d0dcff">
        <td colspan="7"><b>View Descriptor</b></td>
      </tr>
	<tr bgcolor="#e4e4e4" width="98%">
	
	<td id="tableHeader2"><b>Name</b></td>
	<td id="tableHeader2"><b>Description</b></td>
	<td id="tableHeader2"><b>URL Action</b></td>
	<td id="tableHeader2"><b>Active Flag</b></td>
	<td id="tableHeader2"><b>Type Flag</b></td>
	<td id="tableHeader2"><b>Descriptor Flag</b></td>
	<td id="tableHeader2"><b>Action</b></td>
	</tr>
	<tr bgcolor="white">
      <td>$!descriptor.Name</td>
      <td>$!descriptor.Description</td>
      <td>$!descriptor.UrlAction</td>
      <td>#if ($descriptor.LogInformation.ActiveFlag == 1) Yes #else No #end</td>
	  <td>#if ($descriptor.TypeFlag == 1) Yes #else No #end</td>
	  <td>#if ($descriptor.DescriptorFlag == 1) Yes #else No #end</td>
	  <td id="tableHeader2" colspan="2"><a href="edit.action?id=$descriptor.Id" title="Edit"><img src="../../images/silk/page_edit.png" border="0"></a></a> &nbsp;
		<a href="confirmDelete.action?id=$descriptor.Id" title="Delete"><img src="../../images/silk/delete.png" border="0"></a></a></td>
	
	</tr>
    </tbody>
</table>
</body>
</html>
