<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Window Detail</title>
 <link type="text/css" rel="stylesheet" href="../../style.css">
  <script language="JavaScript">
  	function newTab(){
  		id = document.getElementById("tabId");
  		name = document.getElementById("tabName");
  		description = document.getElementById("tabDesc");
  		tabName = document.getElementById("tabTabName");
  		id.value = "";
  		name.value = "";
  		description.value = "";
  		tabName.value = "";
  	}
  </script>
</head>
<body onload="HTMLArea.replaceAll();">
<form method="post" action="../tab/add.action">
<!--table bgcolor="gray" border="0" cellpadding="5" cellspacing="1" width="98%">
  <tbody>
	<tr bgcolor="#d0dcff">
    <td id="tableHeader1" colspan="2">Window</td>
  	</tr>
	<tr bgcolor="#ffffff">
	  <td id="tableHeader2" colspan="2"><b><a href="../window/edit.action?id=$!window.id">Edit</a> | <a href="../window/confirm.action?id=$window.Id">Delete</a></b>
    </tr>
    <tr bgcolor="#ffffff">
      <td id="tableHeader2">Nama    :</td>
      <td>$!window.name  </td>
    </tr bgcolor="#ffffff">
    <tr bgcolor="#ffffff">
      <td id="tableHeader2">Description :   </td>
      <td>$!window.description  </td>
    </tr>
	<tr bgcolor="#ffffff">
		<td id="tableHeader2">Window Name  : </td>
		<td>$!window.windowName</td>
	</tr>
    </tbody>
	</table>
  	<br-->
  	<table bgcolor="gray" border="0" cellpadding="5" cellspacing="1" width="98%">
    <tr bgcolor="#ffff00">
      <td id="tableHeader2" colspan="2"><b>Window    : $!window.name</b>  <a href="../window/edit.action?id=$!window.id">Edit</a></td>    
	</tr>
    <tr bgcolor="#d0dcff">
    <td id="tableHeader1" colspan="2">Tab</td>
  	</tr>
  	 <tr bgcolor="#ffffff">
    <td>Name</td>
  <td>  <input id="tabName" name="tab.name" value="$!tab.name"/> 
    
	 <tr bgcolor="#ffffff">
    <td>Description</td>
  <td>  <input id="tabDesc" name="tab.description" value="$!tab.description"/> 
  	</td>
	 <tr bgcolor="#ffffff">
  <td>Table Name</td>
  <td>  <input id="tabTabName" name="tab.tabName" value="$!tab.tabName"/></td> 
  </tr>

    <tr bgcolor="#d0dcff">
  <td id=tableHeader1 colspan="2"><input type="hidden" id="tabId" name="id" value="$!tab.id">
      <input type="submit" value="Submit"> <input type="reset" value="Reset"> <input type="button" value="Clear" onClick="newTab()">
      <input type="hidden" name="windowId" value="$!window.id">
  </td>
  </tr>
 </table>
  <br>$!report
  #if(!$tabs.isEmpty())
<table bgcolor="gray" border="0" cellpadding="5" cellspacing="1" width="98%">
  <tr id="tableHeader1" bgcolor="#d0dcff"> 
    <td>Name</td>
    <td>Description</td>
	<td>Action</td>
  </tr>
  #foreach ($de in $tabs) 
  <tr valign="top" bgcolor="#ffffff"> 
    <td>$!de.name</td>
    <td>$!de.description</td>
    <td><a href="../tab/edit.action?id=$de.Id">Edit</a> <a href="../tab/delete.action?id=$de.id&windowId=$!window.id">Delete</a></td>
  </tr>
  #end 
</table>
#end
<br>
<!--table bgcolor="gray" border="0" cellpadding="5" cellspacing="1" width="98%">
  	<tr bgcolor="#ffffff">
		<td align="center"><a href="../form.action">Home</a></td>
	</tr>
</table-->
</body>
</html>
    
