<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="/WEB-INF/classes/cimande.properties"/>
	</bean>
    
    <bean id="myDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${db.driver}" />
        <property name="url" value="${db.url}" />
        <property name="username" value="${db.user}" />
        <property name="password" value="${db.password}" />
<!-- <property name="factoryClassLocation" value="org.hibernate.transaction.JDBCTransactionFactory"/> -->
    </bean>
    
    <bean id="mySessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="myDataSource" />
        <property name="mappingResources">
            <list>
            </list>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>org.blueoxygen.cimande.security.User</value>
                <value>org.blueoxygen.cimande.role.Role</value>
                <value>org.blueoxygen.cimande.role.RolePrivilage</value>
                <value>org.blueoxygen.cimande.site.Site</value>
                <value>org.blueoxygen.cimande.role.RoleSite</value>
                <value>org.blueoxygen.cimande.descriptors.Collection</value>
                <value>org.blueoxygen.cimande.descriptors.Descriptor</value>
                <value>org.blueoxygen.cimande.descriptors.DescriptorGroup</value>
                <value>org.blueoxygen.cimande.descriptors.Wizard</value>
                <value>org.blueoxygen.cimande.modulefunction.ModuleFunction</value>
                <value>org.blueoxygen.cimande.category.Category</value>
                <value>org.blueoxygen.cimande.section.Section</value>
                <value>org.blueoxygen.cimande.jobdescription.JobDesc</value>
                <value>org.blueoxygen.cimande.company.Company</value>
                <value>org.blueoxygen.cimande.skin.Skin</value>
                <value>org.blueoxygen.cimande.theme.Theme</value>
                <value>org.blueoxygen.cimande.template.TemplateObject</value>
                <value>org.blueoxygen.cimande.template.TemplateObjectDetail</value>
                <value>org.blueoxygen.cimande.template.Template</value>
                
                <value>org.blueoxygen.cimande.gx.entity.GxTab</value>
                <value>org.blueoxygen.cimande.gx.entity.GxField</value>
                <value>org.blueoxygen.cimande.gx.entity.GxTable</value>
                <value>org.blueoxygen.cimande.gx.entity.GxColumn</value>
<!--                <value>org.blueoxygen.cimande.gx.entity.GXRow</value>-->
<!--                <value>org.blueoxygen.cimande.gx.entity.GXRecord</value>-->
                <value>org.blueoxygen.cimande.gx.entity.GxDroplistName</value>
                <value>org.blueoxygen.cimande.gx.entity.GxDroplistValue</value>
                <value>org.blueoxygen.cimande.gx.entity.GxWindow</value>
                
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.generate_statistics">false</prop>
                <prop key="hibernate.show_sql">false</prop>
            </props>
        </property>
        <property name="eventListeners">
            <map>
                <entry key="merge">
                    <bean class="org.springframework.orm.hibernate3.support.IdTransferringMergeEventListener" />
                </entry>
            </map>
        </property>
    </bean>
    <bean id="myTxManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="mySessionFactory" />
    </bean>
</beans>
