<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Workspace Management - View Descriptor Detail</title>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <meta name="GENERATOR" content="Quanta Plus">
  <meta name="AUTHOR" content="Umar">


</head>
<body>
<table border=0 cellspacing="0" cellpadding="5">
  <tbody>
	<tr>
      <td id="tableHeader2" colspan="2"><a href="edit.action?id=$descriptor.Id">Edit </a> |
		<a href="confirmDelete.action?id=$descriptor.Id">Delete </a></td>
    </tr>
	<tr>
      <td id="tableHeader2">Name  </td>
      <td>$!descriptor.Name</td>
    </tr>
	<tr>
      <td id="tableHeader2">Description  </td>
      <td>$!descriptor.Description</td>
    </tr>
    <tr>
      <td id="tableHeader2">URL Action	</td>
      <td>$!descriptor.UrlAction</td>
    </tr>
	<tr>
		<td id="tableHeader2">Active Flag</td>
		<td>#if ($descriptor.LogInformation.ActiveFlag == 1) active #else inactive #end</td>
	</tr>
	<tr>
		<td id="tableHeader2">Type Flag</td>
		<td>#if ($descriptor.TypeFlag == 1) Yes #else No #end</td>
	</tr>
	<tr>
		<td id="tableHeader2">Descriptor Flag</td>
		<td>#if ($descriptor.DescriptorFlag == 1) Yes #else No #end</td>
	</tr>
    </tbody>
</table>



</body>
</html>
