<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Workspace Management - Delete Role Privilage Confirmation</title>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <meta name="GENERATOR" content="Quanta Plus">
  <link type="text/css" rel="stylesheet" href="../../style.css">
 

</head>
<body>
<form action="delete.action" method="GET">
<table bgcolor="gray" border="0" cellpadding="5" cellspacing="1" width="98%">     
	 <tr bgcolor="#d0dcff">
        <td>
		<strong>Delete Role Privilage Confirmation</strong>
		</td>	 
</tr>
<tr align="center" bgcolor="#ffffff">
        <td><strong><font color="red">This action cannot be undone</font></strong>
		<br>Are you sure you want to delete Privilage Role <strong>$privilage.Url_xml</strong>?</td>
</tr>
<tr align="center" bgcolor="#d0dcff">
<td>
<input type="hidden" name="id" value="$privilage.Id">
<input type="submit" value="Delete"><input type="button" value="Cancel" OnClick="javascript:location.href='view.action?id=$privilage.Id';">
</td>
</tr>
</table>
</form>
</body>
</html>
