<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Workspace Management -
Add a new Company</title>
  <link type="text/css" rel="stylesheet" href="../../style.css">
  <script type="text/javascript">
  _editor_url = "../../htmlarea/";
  _editor_lang = "en";
</script>

<script type="text/javascript" src="../../htmlarea/htmlarea.js"></script>
</head>
<body onload="HTMLArea.replaceAll();">
#if (!$actionErrors.isEmpty())
<div class="errorMessage">Errors</div>
<ul class="errorMessage">
#foreach( $error in $actionErrors ) <li>$error</li>
#end
</ul>
#end
#if($workType == "flat")
<a href="../company/filter.action">[ Search Company ]</a><br><br>
#end


<form method="post" action="add.action">
  <table bgcolor="gray" border="0" cellpadding="5" cellspacing="1"
 width="98%">
    <tbody>
      <tr bgcolor="#d0dcff">
        <td colspan="3"><b>Create Company</b></td>
      </tr>
      <tr bgcolor="#ffffff">
        <td style="font-weight: bold;" align="right" width="25%">
        	<font color="red">*</font>
        	Name
        	</td>
        <td width="75%"><input maxlength="128" name="name" size="25" value="$!name"></td>
        
      </tr>
      <tr bgcolor="#ffffff">
        <td style="font-weight: bold;" align="right" valign="top">
        Address
        </td>
        <td width="75%"><input name="address" size="75" value="$!address"></td>
   </tr>
   <tr bgcolor="#ffffff">
       <td style="font-weight: bold;" align="right" width="25%">
        	State
        	</td>
        <td width="75%"><input maxlength="128" name="state" size="40" value="$!state"></td>
      <tr bgcolor="#ffffff">
        <td style="font-weight: bold;" align="right" width="25%">
            Zip number
        	</td>
        <td width="75%"><input maxlength="10" name="zip_number" size="25" value="$!zip_number"></td>
      <tr bgcolor="#ffffff">
        <td style="font-weight: bold;" align="right" width="25%">
        	Telephone
        	</td>
        <td width="75%"><input maxlength="128" name="telephone" size="25" value="$!telephone"></td>
      <tr bgcolor="#ffffff">
        <td style="font-weight: bold;" align="right" width="25%">
        	Faximile
        	</td>
        <td width="75%"><input maxlength="128" name="faximile" size="25" value="$!faximile"></td>
      
      <tr bgcolor="#ffffff">
        <td style="font-weight: bold;" align="right" width="25%">
        	Website
        	</td>
        <td width="75%"><input maxlength="128" name="website" size="25" value="$!website"></td>
      <tr bgcolor="#ffffff">
        <td style="font-weight: bold;" align="right" width="25%">
        	Email
        	</td>
        <td width="75%"><input maxlength="128" name="email" size="25" value="$!email"></td>
      
      <tr bgcolor="#e4e4e4">
        <td colspan="3"><input name="Submit" value="Save" type="submit">&nbsp;&nbsp;
        <input name="Clear" value="Reset" type="reset"> </td>
      </tr>
    </tbody>
  </table>
</form>
</body>
</html>
