<html>
<head>
<title>Workspace Management - Company List</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="AUTHOR" content="Harry">
</head>
<body>

#if ($company.isEmpty()) No such data found
#else Found <strong>$company.size()</strong> #if ($company.size()>1) company #else company #end


<table border="0" cellspacing="0" cellpadding="5">
<tr id="tableHeader1">
	<td>&nbsp;</td>
	<td>Name</td>
	<td>Address</td>
	<td>State</td>
	<td>Zip number</td>
	<td>Telephone</td>
	<td>Faximile</td>
	<td>Website</td>
	<td>Email</td>
</tr>

#foreach ($moduleCompany in $company)
	<tr valign="top">
	<td><strong><a href="view.action?id=$moduleCompany.Id">v</a></strong>&nbsp;<strong><a href="edit.action?id=$moduleCompany.Id">e</a></strong>&nbsp;<strong><a href="confirmDelete.action?id=$moduleCompany.Id">d</a></strong></td>
	<td>$!moduleCompany.Name</td>
	<td>$!moduleCompany.Address</td>
	<td>$!moduleCompany.State</td>
	<td>$!moduleCompany.Zip_number</td>
	<td>$!moduleCompany.Telephone</td>
	<td>$!moduleCompany.Faximile</td>
	<td>$!moduleCompany.Website</td>
	<td>$!moduleCompany.Email</td>
	</tr>
#end
</table>

#end

</body>
</html>
