<table bgcolor="black" border="0" cellpadding="3" cellspacing="1" width="98%">
    <tr> 
      <td bgcolor="#d0dcff" colspan="3"><b>Workflow Role List  
        </b></td>
    </tr>
	<tr bgcolor="eeeeee">
		<td align="center"><b>Name</b></td>
		<td align="center"><b>Description</b></td>
		<td align="center"><b>Action</b></td>
	</tr>
	#foreach($r in $roles)
    <tr bgcolor="#ffffff" valign="top"> 
		<td>$!r.name</td>
		<td>$!r.description</td>
		<td>
			<a href="view.action?role.id=$!r.id">View</a>
		</td>
	</tr>
	#end
</table>