<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!--<%@ taglib uri = "webwork" prefix = "ww" %>-->
<html>
	<head>
		<title>Form - Window</title>
		<link rel="stylesheet" type="text/css" href="../../style.css">
	</head>
	<body>
		#if (!$actionErrors.isEmpty())
			<div class="errorMessage">Errors</div>
			<ul class="errorMessage">
			#foreach( $error in $actionErrors )
				<li>$error</li>
			#end
			</ul>
		#end
#saction("name=create" "namespace=/module/window" "executeResult=true")
		<br>
#if($window.id)
#saction("name=create" "namespace=/module/tab" "executeResult=true")
<br>$!report
#saction("name=listdetail" "namespace=/module/tab" "executeResult=true")
#end
<br>
#saction("name=create" "namespace=/module/windowrole" "executeResult=true")
<br>
#saction("name=listdetail" "namespace=/module/windowrole" "executeResult=true")
	</body>
</html>