<html>
<head>
<title>list - $!name.name</title>
<link rel="stylesheet" type="text/css" href="../../decorators/tables.css">

</head>
<body>
<h3>$!name.name List</h3>
#if ($name.values.isEmpty()) No $!name.name  available
#else

<table width=100% border="0">
<tr>
	<td width=60%>None</td>
	<td><input type="button" onClick="javascript:window.opener.document.getElementById('droplistValueId').value='';window.opener.document.getElementById('droplistValueName').value='None';window.close();" value="Set"></td>
</tr>
#foreach ($value in $name.values)
<tr>
	<td width=60%>$value.value</td>
	<td><input type="button" onClick="javascript:window.opener.document.getElementById('droplistValueId').value='$value.id';window.opener.document.getElementById('droplistValueName').value='$value.value';window.close();" value="Set"></td>
</tr>
#end
</table>
#end
</body>
</html>
