<html>
<head>
  <title>Search - Result Business Partner</title>
 <link type="text/css" rel="stylesheet" href="../../style.css">
  <script type="text/javascript">
  _editor_url = "../../htmlarea/";
  _editor_lang = "en";
</script>

<script type="text/javascript" src="../../htmlarea/htmlarea.js"></script>
</head>
<body>
<form name="filterCountry" method="post" action="search.action">
<table bgcolor="gray" border="0" cellpadding="5" cellspacing="1" width="70%">
 <tr bgcolor="#d0dcff">
    <td id="tableHeader1" colspan=2>Country Search</td>
  </tr>
  <tr bgcolor="#ffffff">
    <td>Country Name:</td>
    <td><input type="text" name="name" maxlength="20" value="$!name" size="30"></td>
  </tr>
  <tr id="tableHeader1" bgcolor="#d0dcff">
    <td colspan=2><input type="submit" value="Search">&nbsp;&nbsp;<input type="reset" value="Reset"></td>
  </tr>
	
	 

<p>#if ($countries.isEmpty()) Data Not Found
#else

 	<tr id="tableHeader2" bgcolor="#d0dcff">
	<td colspan="6">
	Found <strong>$!resultRows()</strong> #if ($resultRows > 1) Countries #else Country #end</p>
    <tr id="tableHeader2" bgcolor="#ffffff">
	<td colspan="6">
    #if ($currPage > 0) <a href="search.action?name=$name&currPage=0">&lt;&lt;</a>&nbsp;#end
	#if ($currPage > 0) <a href="search.action?name=$name&currPage=$prevPage">&lt;</a>&nbsp;#end
	[page $page]
	#if ($currPage < $maxPage) <a href="search.action?name=$name&currPage=$nextPage">&gt;</a>&nbsp;#end
	#if ($currPage < $maxPage) <a href="search.action?name=$name&currPage=$maxPage">&gt;&gt;</a>&nbsp;#end

</table>

<table bgcolor="gray" border="0" cellpadding="5" cellspacing="1" width="70%">

<tr id="tableHeader1" bgcolor="#d0dcff">
		<td>Business Name</td>
		<td>Address</td>
</tr>

#foreach ($country in $countries)

<tr valign="top" bgcolor="#ffffff">
	<td><strong>$!country.name</strong>&nbsp;</td>
	<td><a href="edit.action?id=$country.Id">e</a>&nbsp;||&nbsp;<a href="confirmDelete.action?id=$country.Id">d</a></td>
</tr>
#end

</table>
#end
</body>
</html>
