<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Workspace Management -
Edit Template Object Detail</title>
  <link type="text/css" rel="stylesheet" href="../../style.css">
  <script type="text/javascript">
  _editor_url = "../../htmlarea/";
  _editor_lang = "en";
</script>

<script type="text/javascript" src="../../htmlarea/htmlarea.js"></script>
</head>
<body onload="HTMLArea.replaceAll();">
#if (!$actionErrors.isEmpty())
<div class="errorMessage">Errors</div>
<ul class="errorMessage">
#foreach( $error in $actionErrors ) <li>$error</li>
#end
</ul>
#end



<form method="post" action="update.action">
  <table bgcolor="gray" border="0" cellpadding="5" cellspacing="1"
 width="98%">
    <tbody>
      <tr bgcolor="#d0dcff">
        <td colspan="3"><b>Edit Template Object Detail</b></td>
      
      <tr bgcolor="#ffffff">
        <td style="font-weight: bold;" align="right" width="25%">
        Template Object ID:</td>
    	<td>
    	<input type="textfield" id="temObjDescription" value="$!objectDetail.templateObject.template_skin" size="35" disabled="true" onfocus="this.blur()"/>
    	<input type="hidden" id="template_object_id" name="template_object_id" value="$!objectDetail.templateObject.id"/>
    	&nbsp;&nbsp;<input type="button" value="Change" onclick="javascript:window.open('../template_object_detail/listTemplateObject.action','cats','scrollbars=yes,status=no,width=300,height=300')"/>
    	  &nbsp;&nbsp;<a href="../template_object/edit.action?id=$!objectDetail.templateObject.id">edit</a>
    	  </td>
        
      </tr>
      <tr bgcolor="#ffffff">
        <td style="font-weight: bold;" align="right" width="25%">
        Collection:</td>
    	<td>
    	<input type="textfield" id="collectionDescription" value="$!objectDetail.collection.name" size="35" disabled="true" onfocus="this.blur()"/>
    	<input type="hidden" id="collection_id" name="collection_id" value="$!objectDetail.collection.id"/>
    	&nbsp;&nbsp;<input type="button" value="Change" onclick="javascript:window.open('../template_object_detail/listCollection.action','cats','scrollbars=yes,status=no,width=300,height=300')"/>
    	</td>
  
      </tr>
      <tr bgcolor="#ffffff">
        <td style="font-weight: bold;" align="right" width="25%">
        Descriptor:</td>
    	<td>
    	<input type="textfield" id="descriptorDescription" value="$!objectDetail.descriptor.name" size="35" disabled="true" onfocus="this.blur()"/>
    	<input type="hidden" id="descriptor_id" name="descriptor_id" value="$!objectDetail.descriptor.id"/>
    	&nbsp;&nbsp;<input type="button" value="Change" onclick="javascript:window.open('../template_object_detail/listDescriptor.action','cats','scrollbars=yes,status=no,width=300,height=300')"/>
    	&nbsp;&nbsp;<a href="../descriptor/edit.action?id=$!objectDetail.descriptor.id">edit</a></td>
  
      </tr>
      <tr bgcolor="#ffffff">
        <td style="font-weight: bold;" align="right" valign="top">
        <font color="red">*</font>
        Description:
        </td>
        <td>
        	<textarea id="description" name="description" style="width: 110%" rows="15" cols="80">
        	$!objectDetail.description</textarea>
         </td>
  
      </tr>
      <tr bgcolor="#ffffff">
      <td style="font-weight: bold;" align="right" valign="top">
      Type:</td>
  		<td><input type="radio" name="type" value=1 #if ($objectDetail.type == 1) checked #end> Yes<br>
  		<input type="radio" name="type" value=0 #if ($objectDetail.type == 0) checked #end> No 
  		<input type="hidden" name="id" value="$objectDetail.id">
    	</td>
  	  
  </tr>
      <tr bgcolor="#d0dcff">
        <td colspan="3"><input name="Submit" value="Update" type="submit">&nbsp;&nbsp;
        <input name="Clear" value="Reset" type="reset"> </td>
      </tr>
    </tbody>
  </table>
</form>
</body>
</html>
