<html>
<head>
<title>list - Theme Option</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="AUTHOR" content="Amix">
<link rel="stylesheet" type="text/css" href="../../decorators/tables.css">

</head>
<body>
<h3>Theme Option List</h3>
#if ($oc.isEmpty()) No Collection available yet
#else

<table width=100% border="0">
<tr>
	<td width=60%>None</td>
	<td><input type="button" onClick="javascript:window.opener.document.getElementById('collection_id').value='';window.opener.document.getElementById('collection_id').value='None';window.close();" value="Set"></td>
</tr>
#foreach ($collection in $oc)
<tr>
	<td width=60%>$collection.name</td>
	<td><input type="button" onClick="javascript:window.opener.document.getElementById('collection_id').value='$collection.id';window.opener.document.getElementById('collectionDescription').value='$collection.description';window.close();" value="Set"></td>
</tr>
#end
</table>
#end
</body>
</html>
